/* screen - datenschutz-1200 */

.datenschutz-1200 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2509px;
  min-width: 1200px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.datenschutz-1200 .detailed_elegant_mar-zqZOTZ {
  background-color: transparent;
  height: calc(100.00% + 2110px);
  left: -2595px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 5320px);
}

.datenschutz-1200 .datenschutzerklrung1-zqZOTZ {
  background-color: transparent;
  display: block;
  height: 1763px;
  left: 197px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 254px;
  width: calc(100.00% - 366px);
}

.datenschutz-1200 .datenschutzerklrung1-zqZOTZ.bp3-animate-enter30 {
  animation: bp3-animate-enter30-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter30-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-1200 .wko_white_transparent-zqZOTZ {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 202px;
  left: 160px;
  object-fit: cover;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: -15px;
  transform: translate(-25px, 0);
  transition: all 1s ease;
  width: 269px;
}

.datenschutz-1200 .wko_white_transparent-zqZOTZ.bp3-animate-enter31 {
  animation: bp3-animate-enter31-frames 0.30s linear 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(-25px, 0);
}

@keyframes bp3-animate-enter31-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.datenschutz-1200 .wko_white_transparent-zqZOTZ:hover {
  transform: scale(1.1);
}

.datenschutz-1200 .gruppe-268-zqZOTZ {
  background-color: transparent;
  height: 21px;
  position: absolute;
  right: calc(21.53% - 74px);
  top: 86px;
  width: 345px;
}

.datenschutz-1200 .produkte-A0ErOC {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 75px;
}

.datenschutz-1200 .produkte-A0ErOC:hover {
  opacity: 0;
}

.datenschutz-1200 .ber-uns-A0ErOC {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  right: calc(48.32% - 36px);
  text-align: left;
  top: 2px;
  transition: all 0.9s ease;
  white-space: nowrap;
  width: 75px;
}

.datenschutz-1200 .ber-uns-A0ErOC:hover {
  opacity: 0;
}

.datenschutz-1200 .kontakt-A0ErOC {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 2px;
  transition: all 0.9s ease;
  white-space: nowrap;
  width: 68px;
}

.datenschutz-1200 .kontakt-A0ErOC:hover {
  opacity: 0;
}

.datenschutz-1200 .linie-39-zqZOTZ {
  background-color: transparent;
  bottom: 19.56%;
  display: block;
  height: 1px;
  left: calc(50.00% - 382px);
  object-fit: cover;
  opacity: 0;
  position: absolute;
  width: 763px;
}

.datenschutz-1200 .linie-39-zqZOTZ.bp3-animate-enter32 {
  animation: bp3-animate-enter32-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter32-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-1200 .gruppe-271-zqZOTZ {
  background-color: transparent;
  bottom: calc(13.53% - 9px);
  display: block;
  height: 66px;
  left: calc(36.43% - 29px);
  opacity: 0;
  position: absolute;
  width: 79px;
}

.datenschutz-1200 .gruppe-271-zqZOTZ.bp3-animate-enter33 {
  animation: bp3-animate-enter33-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter33-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-1200 .produkte-16sQjf {
  background-color: transparent;
  height: 23px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 1px);
}

.datenschutz-1200 .edition-one-16sQjf {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.datenschutz-1200 .gruppe-270-zqZOTZ {
  background-color: transparent;
  bottom: 202px;
  display: block;
  height: 195px;
  left: 218px;
  opacity: 0;
  position: absolute;
  width: 108px;
}

.datenschutz-1200 .gruppe-270-zqZOTZ.bp3-animate-enter34 {
  animation: bp3-animate-enter34-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter34-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-1200 .recht-yyHgO6 {
  background-color: transparent;
  height: 23px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 51px;
}

.datenschutz-1200 .datenschutz-yyHgO6 {
  background-color: transparent;
  height: 20px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: calc(28.29% - 6px);
  white-space: nowrap;
  width: 89px;
}

.datenschutz-1200 .impressum-yyHgO6 {
  background-color: transparent;
  bottom: calc(47.14% - 9px);
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 78px;
}

.datenschutz-1200 .ag-bs-yyHgO6 {
  background-color: transparent;
  bottom: calc(22.57% - 5px);
  cursor: pointer;
  height: 20px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 43px;
}

.datenschutz-1200 .widerrufsrecht-yyHgO6 {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.datenschutz-1200 .rechteck-331-zqZOTZ {
  background-color: var(--licorice);
  bottom: -2px;
  display: block;
  height: 44px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.datenschutz-1200 .rechteck-331-zqZOTZ.bp3-animate-enter35 {
  animation: bp3-animate-enter35-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter35-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-1200 .wunderkind-original-zqZOTZ {
  background-color: transparent;
  bottom: 8px;
  display: block;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 12px;
  opacity: 0;
  position: absolute;
  right: calc(49.89% - 162px);
  text-align: left;
  width: 324px;
}

.datenschutz-1200 .wunderkind-original-zqZOTZ.bp3-animate-enter36 {
  animation: bp3-animate-enter36-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter36-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-1200 .gruppe-273-zqZOTZ {
  background-color: transparent;
  bottom: 63px;
  display: block;
  height: 23px;
  left: calc(50.00% - 39px);
  opacity: 0;
  position: absolute;
  width: 78px;
}

.datenschutz-1200 .gruppe-273-zqZOTZ.bp3-animate-enter37 {
  animation: bp3-animate-enter37-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter37-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-1200 .iconfinder_icon-social-facebook_211902-yDx5Ta {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 12px;
}

.datenschutz-1200 .comp_x5-f_173-instagram-yDx5Ta {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 23px;
}

.datenschutz-1200 .gruppe-251-jFWslK {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.datenschutz-1200 .pfad-302-eMXziz {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
/* screen - datenschutz-1900 */

.datenschutz-1900 {
  background-color: var(--white);
  height: 2470px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1900px;
}

.datenschutz-1900 .detailed_elegant_mar-8b6yrl {
  background-color: transparent;
  height: 2459px;
  left: -682px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 3470px;
}

.datenschutz-1900 .datenschutzerklrung1-8b6yrl {
  background-color: transparent;
  display: block;
  height: 1574px;
  left: 431px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 255px;
  width: 1040px;
}

.datenschutz-1900 .datenschutzerklrung1-8b6yrl.bp4-animate-enter55 {
  animation: bp4-animate-enter55-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter55-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-1900 .wko_white_transparent-8b6yrl {
  background-color: transparent;
  cursor: pointer;
  height: 202px;
  left: 252px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: -15px;
  transition: all 1s ease;
  width: 269px;
}

.datenschutz-1900 .wko_white_transparent-8b6yrl:hover {
  transform: scale(1.1);
}

.datenschutz-1900 .linie-42-8b6yrl {
  background-color: transparent;
  display: block;
  height: 1px;
  left: 330px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 1978px;
  width: 1241px;
}

.datenschutz-1900 .linie-42-8b6yrl.bp4-animate-enter56 {
  animation: bp4-animate-enter56-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter56-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-1900 .gruppe-304-8b6yrl {
  background-color: transparent;
  display: block;
  height: 66px;
  left: 546px;
  opacity: 0;
  position: absolute;
  top: 2074px;
  width: 81px;
}

.datenschutz-1900 .gruppe-304-8b6yrl.bp4-animate-enter57 {
  animation: bp4-animate-enter57-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter57-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-1900 .produkte-Uqo3Tt {
  background-color: transparent;
  height: 23px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: calc(3.49% - 1px);
  white-space: nowrap;
  width: 78px;
}

.datenschutz-1900 .edition-one-Uqo3Tt {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: calc(107.61% - 22px);
  white-space: nowrap;
  width: 81px;
}

.datenschutz-1900 .gruppe-305-8b6yrl {
  background-color: transparent;
  display: block;
  height: 195px;
  left: 326px;
  opacity: 0;
  position: absolute;
  top: 2074px;
  width: 109px;
}

.datenschutz-1900 .gruppe-305-8b6yrl.bp4-animate-enter58 {
  animation: bp4-animate-enter58-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter58-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-1900 .recht-xBoSZL {
  background-color: transparent;
  height: 23px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 0.87%;
  white-space: nowrap;
  width: 51px;
}

.datenschutz-1900 .datenschutz-xBoSZL {
  background-color: transparent;
  height: 20px;
  left: 0.22%;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: calc(28.29% - 6px);
  white-space: nowrap;
  width: 89px;
}

.datenschutz-1900 .impressum-xBoSZL {
  background-color: transparent;
  bottom: 82px;
  cursor: pointer;
  height: 20px;
  left: 0.21%;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 78px;
}

.datenschutz-1900 .ag-bs-xBoSZL {
  background-color: transparent;
  bottom: 40px;
  cursor: pointer;
  height: 20px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 43px;
}

.datenschutz-1900 .widerrufsrecht-xBoSZL {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 109px;
}

.datenschutz-1900 .rechteck-337-8b6yrl {
  background-color: var(--licorice);
  display: block;
  height: 44px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 2428px;
  width: 1900px;
}

.datenschutz-1900 .rechteck-337-8b6yrl.bp4-animate-enter59 {
  animation: bp4-animate-enter59-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter59-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-1900 .wunderkind-original-8b6yrl {
  background-color: transparent;
  display: block;
  height: 20px;
  left: 763px;
  letter-spacing: 0.00px;
  line-height: 15px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2440px;
  width: 376px;
}

.datenschutz-1900 .wunderkind-original-8b6yrl.bp4-animate-enter60 {
  animation: bp4-animate-enter60-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter60-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-1900 .gruppe-306-8b6yrl {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 903px;
  opacity: 0;
  position: absolute;
  top: 2370px;
  width: 94px;
}

.datenschutz-1900 .gruppe-306-8b6yrl.bp4-animate-enter61 {
  animation: bp4-animate-enter61-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter61-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-1900 .iconfinder_icon-social-facebook_211902-nft2sn {
  background-color: transparent;
  bottom: 0px;
  cursor: pointer;
  height: 23px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 12px;
}

.datenschutz-1900 .comp_x5-f_173-instagram-nft2sn {
  background-color: transparent;
  bottom: 1px;
  cursor: pointer;
  height: 23px;
  position: absolute;
  right: 0px;
  width: 23px;
}

.datenschutz-1900 .gruppe-251-e3wT4I {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.datenschutz-1900 .pfad-302-pPpC5Y {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.datenschutz-1900 .gruppe-262-8b6yrl {
  background-color: transparent;
  height: 21px;
  left: 1087px;
  position: absolute;
  top: 86px;
  width: 434px;
}

.datenschutz-1900 .produkte-xZoxrB {
  background-color: transparent;
  cursor: pointer;
  height: 23px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 2s ease;
  white-space: nowrap;
  width: 75px;
}

.datenschutz-1900 .produkte-xZoxrB:hover {
  opacity: 0;
}

.datenschutz-1900 .ber-uns-xZoxrB {
  background-color: transparent;
  cursor: pointer;
  height: 23px;
  left: calc(48.48% - 36px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 2s ease;
  white-space: nowrap;
  width: 75px;
}

.datenschutz-1900 .ber-uns-xZoxrB:hover {
  opacity: 0;
}

.datenschutz-1900 .kontakt-xZoxrB {
  background-color: transparent;
  cursor: pointer;
  height: 23px;
  left: calc(100.55% - 68px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 2s ease;
  white-space: nowrap;
  width: 68px;
}

.datenschutz-1900 .kontakt-xZoxrB:hover {
  opacity: 0;
}
/* screen - datenschutz-375 */

.datenschutz-375 {
  background-color: var(--white);
  height: 3712px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}

.datenschutz-375 .detailed_elegant_mar-z8MVbc {
  background-color: transparent;
  height: 9635px;
  left: -6593px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 13601px;
}

.datenschutz-375 .datenschutzerklrung1-z8MVbc {
  background-color: transparent;
  display: block;
  height: 2927px;
  left: 61px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 251px;
  width: 255px;
}

.datenschutz-375 .datenschutzerklrung1-z8MVbc.bp1-animate-enter43 {
  animation: bp1-animate-enter43-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter43-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-375 .linie-39-z8MVbc {
  background-color: transparent;
  display: block;
  height: 1px;
  left: 37px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 3218px;
  width: 301px;
}

.datenschutz-375 .linie-39-z8MVbc.bp1-animate-enter44 {
  animation: bp1-animate-enter44-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter44-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-375 .gruppe-285-z8MVbc {
  background-color: transparent;
  display: block;
  height: 60px;
  left: 155px;
  opacity: 0;
  position: absolute;
  top: 3318px;
  width: 58px;
}

.datenschutz-375 .gruppe-285-z8MVbc.bp1-animate-enter45 {
  animation: bp1-animate-enter45-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter45-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-375 .produkte-iSOQIB {
  background-color: transparent;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 3px);
}

.datenschutz-375 .edition-one-iSOQIB {
  background-color: transparent;
  bottom: -3px;
  cursor: pointer;
  height: 14px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.datenschutz-375 .gruppe-284-z8MVbc {
  background-color: transparent;
  display: block;
  height: 147px;
  left: 57px;
  opacity: 0;
  position: absolute;
  top: 3318px;
  width: 77px;
}

.datenschutz-375 .gruppe-284-z8MVbc.bp1-animate-enter46 {
  animation: bp1-animate-enter46-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter46-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-375 .recht-Qwd7WR {
  background-color: transparent;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 34px;
}

.datenschutz-375 .datenschutz-Qwd7WR {
  background-color: transparent;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: calc(36.84% - 5px);
  white-space: nowrap;
  width: 63px;
}

.datenschutz-375 .impressum-Qwd7WR {
  background-color: transparent;
  bottom: calc(41.35% - 6px);
  cursor: pointer;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 55px;
}

.datenschutz-375 .ag-bs-Qwd7WR {
  background-color: transparent;
  bottom: calc(19.55% - 3px);
  cursor: pointer;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 31px;
}

.datenschutz-375 .widerrufsrecht-Qwd7WR {
  background-color: transparent;
  bottom: -3px;
  cursor: pointer;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.datenschutz-375 .rechteck-331-z8MVbc {
  background-color: var(--licorice);
  display: block;
  height: 44px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 3668px;
  width: 375px;
}

.datenschutz-375 .rechteck-331-z8MVbc.bp1-animate-enter47 {
  animation: bp1-animate-enter47-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter47-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-375 .wunderkind-original-z8MVbc {
  background-color: transparent;
  display: block;
  height: 20px;
  left: 90px;
  letter-spacing: 0.00px;
  line-height: 7px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 3685px;
  width: 198px;
}

.datenschutz-375 .wunderkind-original-z8MVbc.bp1-animate-enter48 {
  animation: bp1-animate-enter48-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter48-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-375 .gruppe-282-z8MVbc {
  background-color: transparent;
  display: block;
  height: 19px;
  left: 162px;
  opacity: 0;
  position: absolute;
  top: 3632px;
  width: 51px;
}

.datenschutz-375 .gruppe-282-z8MVbc.bp1-animate-enter49 {
  animation: bp1-animate-enter49-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter49-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-375 .iconfinder_icon-social-facebook_211902-HJDevI {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 9px;
}

.datenschutz-375 .comp_x5-f_173-instagram-HJDevI {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 19px;
}

.datenschutz-375 .gruppe-251-2xwMtv {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.datenschutz-375 .pfad-302-unF9o3 {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.datenschutz-375 .wko_white_transparent-z8MVbc {
  background-color: transparent;
  cursor: pointer;
  height: 120px;
  left: -17px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: -6px;
  transition: all 1s ease;
  width: 160px;
}

.datenschutz-375 .wko_white_transparent-z8MVbc:hover {
  transform: scale(1.1);
}

.datenschutz-375 .gruppe-280-z8MVbc {
  background-color: transparent;
  height: 12px;
  left: 151px;
  position: absolute;
  top: 60px;
  width: 198px;
}

.datenschutz-375 .produkte-XbxZ9S {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 1px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 46px;
}

.datenschutz-375 .produkte-XbxZ9S:hover {
  opacity: 0;
}

.datenschutz-375 .ber-uns-XbxZ9S {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 10px;
  pointer-events: auto;
  position: absolute;
  right: calc(47.90% - 22px);
  text-align: left;
  top: 1px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 46px;
}

.datenschutz-375 .ber-uns-XbxZ9S:hover {
  opacity: 0;
}

.datenschutz-375 .kontakt-XbxZ9S {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 10px;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 1px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 42px;
}

.datenschutz-375 .kontakt-XbxZ9S:hover {
  opacity: 0;
}
/* screen - datenschutz-767 */

.datenschutz-767 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2759px;
  min-width: 767px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.datenschutz-767 .detailed_elegant_mar-vxl58P {
  background-color: transparent;
  height: 214.51%;
  left: -489.27%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1089.38%;
}

.datenschutz-767 .datenschutzerklrung1-vxl58P {
  background-color: transparent;
  display: block;
  height: 1944px;
  left: 115px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 254px;
  width: calc(100.00% - 226px);
}

.datenschutz-767 .datenschutzerklrung1-vxl58P.bp2-animate-enter41 {
  animation: bp2-animate-enter41-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter41-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-767 .wko_white_transparent-vxl58P {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 202px;
  left: 45px;
  object-fit: cover;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: -15px;
  transform: translate(-25px, 0);
  transition: all 1s ease;
  width: 269px;
}

.datenschutz-767 .wko_white_transparent-vxl58P.bp2-animate-enter42 {
  animation: bp2-animate-enter42-frames 0.30s linear 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(-25px, 0);
}

@keyframes bp2-animate-enter42-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.datenschutz-767 .wko_white_transparent-vxl58P:hover {
  transform: scale(1.1);
}

.datenschutz-767 .gruppe-274-vxl58P {
  background-color: transparent;
  height: 21px;
  position: absolute;
  right: calc(17.86% - 54px);
  top: 86px;
  width: 305px;
}

.datenschutz-767 .produkte-izvKGC {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 75px;
}

.datenschutz-767 .produkte-izvKGC:hover {
  opacity: 0;
}

.datenschutz-767 .ber-uns-izvKGC {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  right: calc(48.04% - 36px);
  text-align: left;
  top: 2px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 75px;
}

.datenschutz-767 .ber-uns-izvKGC:hover {
  opacity: 0;
}

.datenschutz-767 .kontakt-izvKGC {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 2px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 68px;
}

.datenschutz-767 .kontakt-izvKGC:hover {
  opacity: 0;
}

.datenschutz-767 .linie-39-vxl58P {
  background-color: transparent;
  bottom: 17.86%;
  display: block;
  height: 1px;
  left: calc(50.00% - 254px);
  object-fit: cover;
  opacity: 0;
  position: absolute;
  width: 509px;
}

.datenschutz-767 .linie-39-vxl58P.bp2-animate-enter43 {
  animation: bp2-animate-enter43-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter43-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-767 .gruppe-277-vxl58P {
  background-color: transparent;
  bottom: calc(12.35% - 8px);
  display: block;
  height: 66px;
  left: calc(36.43% - 29px);
  opacity: 0;
  position: absolute;
  width: 79px;
}

.datenschutz-767 .gruppe-277-vxl58P.bp2-animate-enter44 {
  animation: bp2-animate-enter44-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter44-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-767 .produkte-JnrECV {
  background-color: transparent;
  height: 23px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 1px);
}

.datenschutz-767 .edition-one-JnrECV {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.datenschutz-767 .gruppe-276-vxl58P {
  background-color: transparent;
  bottom: 204px;
  display: block;
  height: 195px;
  left: 132px;
  opacity: 0;
  position: absolute;
  width: 107px;
}

.datenschutz-767 .gruppe-276-vxl58P.bp2-animate-enter45 {
  animation: bp2-animate-enter45-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter45-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-767 .recht-4oUuY1 {
  background-color: transparent;
  height: 23px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 51px;
}

.datenschutz-767 .datenschutz-4oUuY1 {
  background-color: transparent;
  height: 20px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: calc(28.29% - 6px);
  white-space: nowrap;
  width: 89px;
}

.datenschutz-767 .impressum-4oUuY1 {
  background-color: transparent;
  bottom: calc(47.14% - 9px);
  cursor: pointer;
  height: 20px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 78px;
}

.datenschutz-767 .ag-bs-4oUuY1 {
  background-color: transparent;
  bottom: calc(22.57% - 5px);
  cursor: pointer;
  height: 20px;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 43px;
}

.datenschutz-767 .widerrufsrecht-4oUuY1 {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.datenschutz-767 .gruppe-279-vxl58P {
  background-color: transparent;
  bottom: 70px;
  display: block;
  height: 19px;
  left: calc(50.00% - 25px);
  opacity: 0;
  position: absolute;
  width: 49px;
}

.datenschutz-767 .gruppe-279-vxl58P.bp2-animate-enter46 {
  animation: bp2-animate-enter46-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter46-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-767 .iconfinder_icon-social-facebook_211902-1mBqZR {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 9px;
}

.datenschutz-767 .comp_x5-f_173-instagram-1mBqZR {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 1px;
  width: 19px;
}

.datenschutz-767 .gruppe-251-YoxFPy {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.datenschutz-767 .pfad-302-2xZslx {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.datenschutz-767 .rechteck-331-vxl58P {
  background-color: var(--licorice);
  bottom: 0px;
  display: block;
  height: 44px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.datenschutz-767 .rechteck-331-vxl58P.bp2-animate-enter47 {
  animation: bp2-animate-enter47-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter47-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.datenschutz-767 .wunderkind-original-vxl58P {
  background-color: transparent;
  bottom: 6px;
  display: block;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 10px;
  opacity: 0;
  position: absolute;
  right: calc(48.25% - 136px);
  text-align: left;
  width: 281px;
}

.datenschutz-767 .wunderkind-original-vxl58P.bp2-animate-enter48 {
  animation: bp2-animate-enter48-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter48-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}
@media screen and (max-width: 766px) {
  .screen.datenschutz-1900 { 
    display: none;
   }
  .screen.datenschutz-767 { 
    display: none;
   }
  .screen.datenschutz-1200 { 
    display: none;
   }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .screen.datenschutz-1900 { 
    display: none;
   }
  .screen.datenschutz-375 { 
    display: none;
   }
  .screen.datenschutz-1200 { 
    display: none;
   }
}
@media screen and (min-width: 1200px) and (max-width: 1899px) {
  .screen.datenschutz-1900 { 
    display: none;
   }
  .screen.datenschutz-375 { 
    display: none;
   }
  .screen.datenschutz-767 { 
    display: none;
   }
}
@media screen and (min-width: 1900px) {
  .screen.datenschutz-375 { 
    display: none;
   }
  .screen.datenschutz-767 { 
    display: none;
   }
  .screen.datenschutz-1200 { 
    display: none;
   }
}