@font-face {
  font-family: ".AppleSystemUIFont-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-Regular.otf") format("opentype");
}
@font-face {
  font-family: "FormaDJR Micro-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/FormaDJRMicro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "FormaDJR Micro-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Forma DJR Micro Medium.otf") format("opentype");
}

.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.smart-layers-pointers,
.smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

* {
  box-sizing: border-box;
}
