@font-face {
  font-family: ".AppleSystemUIFont-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Simple Beauty.otf") format("opentype");
}
@font-face {
  font-family: ".AppleSystemUIFont-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SFPRODISPLAYBOLD.OTF");
}

/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/61aa0c1637bc8119fc5ecef2.61aa0c181a3b9f9d45993252.ITIP45D.hcp.png");

.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.smart-layers-pointers,
.smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

* {
  box-sizing: border-box;
}
