/* screen - impressum */

.impressum {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1681px;
  min-width: 1900px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.impressum .detailed_elegant_mar-EXDK4C {
  background-color: transparent;
  height: calc(100.00% + 3122px);
  left: -2337px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 4880px);
}

.impressum .wunderkind-original-EXDK4C {
  background-color: transparent;
  display: block;
  height: 786px;
  left: 431px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: calc(28.49% - 224px);
  width: calc(100.00% - 860px);
}

.impressum .wunderkind-original-EXDK4C.bp4-animate-enter94 {
  animation: bp4-animate-enter94-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter94-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum .linie-42-EXDK4C {
  background-color: transparent;
  bottom: 29.13%;
  display: block;
  height: 1px;
  left: calc(50.00% - 620px);
  object-fit: cover;
  opacity: 0;
  position: absolute;
  width: 1241px;
}

.impressum .linie-42-EXDK4C.bp4-animate-enter95 {
  animation: bp4-animate-enter95-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter95-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum .rechteck-337-EXDK4C {
  background-color: var(--licorice);
  bottom: -4px;
  display: block;
  height: 44px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.impressum .rechteck-337-EXDK4C.bp4-animate-enter96 {
  animation: bp4-animate-enter96-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter96-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum .wunderkind-original-vz007N {
  background-color: transparent;
  bottom: 10px;
  display: block;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 15px;
  opacity: 0;
  position: absolute;
  right: calc(49.93% - 188px);
  text-align: left;
  white-space: nowrap;
  width: 376px;
}

.impressum .wunderkind-original-vz007N.bp4-animate-enter97 {
  animation: bp4-animate-enter97-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter97-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum .gruppe-306-EXDK4C {
  background-color: transparent;
  bottom: 79px;
  display: block;
  height: 23px;
  left: calc(50.00% - 47px);
  opacity: 0;
  position: absolute;
  width: 94px;
}

.impressum .gruppe-306-EXDK4C.bp4-animate-enter98 {
  animation: bp4-animate-enter98-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter98-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum .iconfinder_icon-social-facebook_211902-OYxNOv {
  background-color: transparent;
  bottom: 0px;
  cursor: pointer;
  height: 23px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 12px;
}

.impressum .comp_x5-f_173-instagram-OYxNOv {
  background-color: transparent;
  bottom: 1px;
  cursor: pointer;
  height: 23px;
  position: absolute;
  right: 0px;
  width: 23px;
}

.impressum .gruppe-251-j1sPuv {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.impressum .pfad-302-8pxNAW {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.impressum .wko_white_transparent-EXDK4C {
  background-color: transparent;
  cursor: pointer;
  height: 202px;
  left: 252px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: -15px;
  transition: all 1s ease;
  width: 269px;
}

.impressum .wko_white_transparent-EXDK4C:hover {
  transform: scale(1.1);
}

.impressum .gruppe-265-EXDK4C {
  background-color: transparent;
  bottom: calc(20.27% - 14px);
  display: block;
  height: 68px;
  left: calc(30.17% - 24px);
  opacity: 0;
  position: absolute;
  width: 80px;
}

.impressum .gruppe-265-EXDK4C.bp4-animate-enter99 {
  animation: bp4-animate-enter99-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter99-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum .produkte-KAjcnE {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: calc(4.55% - 1px);
  white-space: nowrap;
  width: 79px;
}

.impressum .edition-one-KAjcnE {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: calc(107.29% - 21px);
  white-space: nowrap;
  width: 82px;
}

.impressum .gruppe-264-EXDK4C {
  background-color: transparent;
  bottom: 198px;
  display: block;
  height: 197px;
  left: 330px;
  opacity: 0;
  position: absolute;
  width: 105px;
}

.impressum .gruppe-264-EXDK4C.bp4-animate-enter100 {
  animation: bp4-animate-enter100-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter100-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum .recht-369C85 {
  background-color: transparent;
  height: 24px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 1.16%;
  white-space: nowrap;
  width: 50px;
}

.impressum .datenschutz-369C85 {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 0.20%;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: calc(29.10% - 6px);
  white-space: nowrap;
  width: 85px;
}

.impressum .impressum-369C85 {
  background-color: transparent;
  bottom: 82px;
  height: 20px;
  left: 0.21%;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 75px;
}

.impressum .ag-bs-369C85 {
  background-color: transparent;
  bottom: 40px;
  cursor: pointer;
  height: 20px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 41px;
}

.impressum .widerrufsrecht-369C85 {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 107px;
}

.impressum .gruppe-262-EXDK4C {
  background-color: transparent;
  height: 22px;
  position: absolute;
  right: calc(25.89% - 112px);
  top: 86px;
  width: 433px;
}

.impressum .produkte-CZXeJc {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 2s ease;
  white-space: nowrap;
  width: 74px;
}

.impressum .produkte-CZXeJc:hover {
  opacity: 0;
}

.impressum .ber-uns-CZXeJc {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: calc(48.35% - 36px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 2s ease;
  white-space: nowrap;
  width: 75px;
}

.impressum .ber-uns-CZXeJc:hover {
  opacity: 0;
}

.impressum .kontakt-CZXeJc {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: calc(100.55% - 69px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 2s ease;
  white-space: nowrap;
  width: 69px;
}

.impressum .kontakt-CZXeJc:hover {
  opacity: 0;
}
/* screen - impressum-1 */

.impressum-1 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1730px;
  min-width: 1200px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.impressum-1 .detailed_elegant_mar-RLMIUZ {
  background-color: transparent;
  height: calc(100.00% + 1585px);
  left: -1675px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 3480px);
}

.impressum-1 .wunderkind-original-RLMIUZ {
  background-color: transparent;
  display: block;
  height: 846px;
  left: 197px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 254px;
  width: calc(100.00% - 366px);
}

.impressum-1 .wunderkind-original-RLMIUZ.bp3-animate-enter87 {
  animation: bp3-animate-enter87-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter87-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1 .linie-39-RLMIUZ {
  background-color: transparent;
  bottom: 28.46%;
  display: block;
  height: 1px;
  left: calc(50.00% - 382px);
  object-fit: cover;
  opacity: 0;
  position: absolute;
  width: 763px;
}

.impressum-1 .linie-39-RLMIUZ.bp3-animate-enter88 {
  animation: bp3-animate-enter88-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter88-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1 .rechteck-331-RLMIUZ {
  background-color: var(--licorice);
  bottom: -1px;
  display: block;
  height: 44px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.impressum-1 .rechteck-331-RLMIUZ.bp3-animate-enter89 {
  animation: bp3-animate-enter89-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter89-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1 .wunderkind-original-ctcsYf {
  background-color: transparent;
  bottom: 13px;
  display: block;
  height: 16px;
  letter-spacing: 0.00px;
  line-height: 12px;
  opacity: 0;
  position: absolute;
  right: calc(49.89% - 150px);
  text-align: left;
  white-space: nowrap;
  width: 301px;
}

.impressum-1 .wunderkind-original-ctcsYf.bp3-animate-enter90 {
  animation: bp3-animate-enter90-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter90-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1 .gruppe-273-RLMIUZ {
  background-color: transparent;
  bottom: 64px;
  display: block;
  height: 23px;
  left: calc(50.00% - 39px);
  opacity: 0;
  position: absolute;
  width: 78px;
}

.impressum-1 .gruppe-273-RLMIUZ.bp3-animate-enter91 {
  animation: bp3-animate-enter91-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter91-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1 .iconfinder_icon-social-facebook_211902-X7L9xb {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 12px;
}

.impressum-1 .comp_x5-f_173-instagram-X7L9xb {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 23px;
}

.impressum-1 .gruppe-251-0zi4f3 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.impressum-1 .pfad-302-xxiB4k {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.impressum-1 .wko_white_transparent-RLMIUZ {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 202px;
  left: 160px;
  object-fit: cover;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: -15px;
  transform: translate(-25px, 0);
  transition: all 1s ease;
  width: 269px;
}

.impressum-1 .wko_white_transparent-RLMIUZ.bp3-animate-enter92 {
  animation: bp3-animate-enter92-frames 0.30s linear 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(-25px, 0);
}

@keyframes bp3-animate-enter92-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.impressum-1 .wko_white_transparent-RLMIUZ:hover {
  transform: scale(1.1);
}

.impressum-1 .gruppe-271-RLMIUZ {
  background-color: transparent;
  bottom: calc(21.06% - 14px);
  display: block;
  height: 68px;
  left: calc(36.47% - 29px);
  opacity: 0;
  position: absolute;
  width: 80px;
}

.impressum-1 .gruppe-271-RLMIUZ.bp3-animate-enter93 {
  animation: bp3-animate-enter93-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter93-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1 .produkte-5HdRdx {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 1px);
}

.impressum-1 .edition-one-5HdRdx {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.impressum-1 .gruppe-270-RLMIUZ {
  background-color: transparent;
  bottom: 221px;
  display: block;
  height: 197px;
  left: 218px;
  opacity: 0;
  position: absolute;
  width: 106px;
}

.impressum-1 .gruppe-270-RLMIUZ.bp3-animate-enter94 {
  animation: bp3-animate-enter94-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter94-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1 .recht-XIVl0t {
  background-color: transparent;
  height: 24px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 50px;
}

.impressum-1 .datenschutz-XIVl0t {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: calc(29.10% - 6px);
  white-space: nowrap;
  width: 85px;
}

.impressum-1 .impressum-XIVl0t {
  background-color: transparent;
  bottom: calc(46.61% - 9px);
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 75px;
}

.impressum-1 .ag-bs-XIVl0t {
  background-color: transparent;
  bottom: calc(22.32% - 4px);
  cursor: pointer;
  height: 20px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 41px;
}

.impressum-1 .widerrufsrecht-XIVl0t {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.impressum-1 .gruppe-268-RLMIUZ {
  background-color: transparent;
  height: 22px;
  position: absolute;
  right: calc(21.43% - 74px);
  top: 86px;
  width: 346px;
}

.impressum-1 .produkte-ZvOxeE {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 74px;
}

.impressum-1 .produkte-ZvOxeE:hover {
  opacity: 0;
}

.impressum-1 .ber-uns-ZvOxeE {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  right: calc(48.51% - 36px);
  text-align: left;
  top: 2px;
  transition: all 0.9s ease;
  white-space: nowrap;
  width: 75px;
}

.impressum-1 .ber-uns-ZvOxeE:hover {
  opacity: 0;
}

.impressum-1 .kontakt-ZvOxeE {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 2px;
  transition: all 0.9s ease;
  white-space: nowrap;
  width: 69px;
}

.impressum-1 .kontakt-ZvOxeE:hover {
  opacity: 0;
}
/* screen - impressum-2 */

.impressum-2 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1867px;
  min-width: 767px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.impressum-2 .detailed_elegant_mar-4sisQ8 {
  background-color: transparent;
  height: 317.00%;
  left: -489.27%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1089.38%;
}

.impressum-2 .wunderkind-original-4sisQ8 {
  background-color: transparent;
  display: block;
  height: 1173px;
  left: 115px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 254px;
  width: calc(100.00% - 226px);
}

.impressum-2 .wunderkind-original-4sisQ8.bp2-animate-enter97 {
  animation: bp2-animate-enter97-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter97-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-2 .linie-39-4sisQ8 {
  background-color: transparent;
  bottom: 26.37%;
  display: block;
  height: 1px;
  left: calc(50.00% - 254px);
  object-fit: cover;
  opacity: 0;
  position: absolute;
  width: 509px;
}

.impressum-2 .linie-39-4sisQ8.bp2-animate-enter98 {
  animation: bp2-animate-enter98-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter98-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-2 .gruppe-279-4sisQ8 {
  background-color: transparent;
  bottom: 69px;
  display: block;
  height: 19px;
  left: calc(50.00% - 25px);
  opacity: 0;
  position: absolute;
  width: 49px;
}

.impressum-2 .gruppe-279-4sisQ8.bp2-animate-enter99 {
  animation: bp2-animate-enter99-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter99-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-2 .iconfinder_icon-social-facebook_211902-5MaZMg {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 9px;
}

.impressum-2 .comp_x5-f_173-instagram-5MaZMg {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 1px;
  width: 19px;
}

.impressum-2 .gruppe-251-5Pfxxx {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.impressum-2 .pfad-302-jmx6rW {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-2 .rechteck-331-4sisQ8 {
  background-color: var(--licorice);
  bottom: -1px;
  display: block;
  height: 44px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.impressum-2 .rechteck-331-4sisQ8.bp2-animate-enter100 {
  animation: bp2-animate-enter100-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter100-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-2 .wunderkind-original-JZxMHW {
  background-color: transparent;
  bottom: 10px;
  display: block;
  height: 14px;
  letter-spacing: 0.00px;
  line-height: 10px;
  opacity: 0;
  position: absolute;
  right: calc(49.81% - 125px);
  text-align: left;
  white-space: nowrap;
  width: 251px;
}

.impressum-2 .wunderkind-original-JZxMHW.bp2-animate-enter101 {
  animation: bp2-animate-enter101-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter101-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-2 .wko_white_transparent-4sisQ8 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 202px;
  left: 45px;
  object-fit: cover;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: -15px;
  transform: translate(-25px, 0);
  transition: all 1s ease;
  width: 269px;
}

.impressum-2 .wko_white_transparent-4sisQ8.bp2-animate-enter102 {
  animation: bp2-animate-enter102-frames 0.30s linear 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(-25px, 0);
}

@keyframes bp2-animate-enter102-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.impressum-2 .wko_white_transparent-4sisQ8:hover {
  transform: scale(1.1);
}

.impressum-2 .gruppe-277-4sisQ8 {
  background-color: transparent;
  bottom: calc(19.84% - 13px);
  display: block;
  height: 68px;
  left: calc(36.49% - 29px);
  opacity: 0;
  position: absolute;
  width: 80px;
}

.impressum-2 .gruppe-277-4sisQ8.bp2-animate-enter103 {
  animation: bp2-animate-enter103-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter103-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-2 .produkte-guhJjE {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 1px);
}

.impressum-2 .edition-one-guhJjE {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.impressum-2 .gruppe-276-4sisQ8 {
  background-color: transparent;
  bottom: 228px;
  display: block;
  height: 197px;
  left: 132px;
  opacity: 0;
  position: absolute;
  width: 105px;
}

.impressum-2 .gruppe-276-4sisQ8.bp2-animate-enter104 {
  animation: bp2-animate-enter104-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter104-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-2 .recht-VBhVi3 {
  background-color: transparent;
  height: 24px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 50px;
}

.impressum-2 .datenschutz-VBhVi3 {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: calc(29.10% - 6px);
  white-space: nowrap;
  width: 85px;
}

.impressum-2 .impressum-VBhVi3 {
  background-color: transparent;
  bottom: calc(46.61% - 9px);
  height: 20px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 75px;
}

.impressum-2 .ag-bs-VBhVi3 {
  background-color: transparent;
  bottom: calc(22.32% - 4px);
  cursor: pointer;
  height: 20px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 41px;
}

.impressum-2 .widerrufsrecht-VBhVi3 {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.impressum-2 .gruppe-274-4sisQ8 {
  background-color: transparent;
  height: 22px;
  position: absolute;
  right: calc(17.68% - 54px);
  top: 86px;
  width: 306px;
}

.impressum-2 .produkte-wb2j5x {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 74px;
}

.impressum-2 .produkte-wb2j5x:hover {
  opacity: 0;
}

.impressum-2 .ber-uns-wb2j5x {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  right: calc(48.27% - 36px);
  text-align: left;
  top: 2px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 75px;
}

.impressum-2 .ber-uns-wb2j5x:hover {
  opacity: 0;
}

.impressum-2 .kontakt-wb2j5x {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 2px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 69px;
}

.impressum-2 .kontakt-wb2j5x:hover {
  opacity: 0;
}
/* screen - impressum-3 */

.impressum-3 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2669px;
  min-width: 375px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.impressum-3 .detailed_elegant_mar-knProc {
  background-color: transparent;
  height: 100.02%;
  left: -447.03%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1004.89%;
}

.impressum-3 .wunderkind-original-knProc {
  background-color: transparent;
  display: block;
  height: 1476px;
  left: 16.27%;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 9.40%;
  width: 68.00%;
}

.impressum-3 .wunderkind-original-knProc.bp1-animate-enter95 {
  animation: bp1-animate-enter95-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter95-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-3 .linie-39-knProc {
  background-color: transparent;
  bottom: 18.47%;
  display: block;
  height: 1px;
  left: calc(50.00% - 150px);
  object-fit: cover;
  opacity: 0;
  position: absolute;
  width: 301px;
}

.impressum-3 .linie-39-knProc.bp1-animate-enter96 {
  animation: bp1-animate-enter96-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter96-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-3 .rechteck-331-knProc {
  background-color: var(--licorice);
  bottom: 0px;
  display: block;
  height: 44px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.impressum-3 .rechteck-331-knProc.bp1-animate-enter97 {
  animation: bp1-animate-enter97-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter97-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-3 .wunderkind-original-nA12iz {
  background-color: transparent;
  bottom: 14px;
  display: block;
  height: 11px;
  letter-spacing: 0.00px;
  line-height: 7px;
  opacity: 0;
  position: absolute;
  right: calc(49.49% - 88px);
  text-align: left;
  white-space: nowrap;
  width: 177px;
}

.impressum-3 .wunderkind-original-nA12iz.bp1-animate-enter98 {
  animation: bp1-animate-enter98-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter98-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-3 .gruppe-282-knProc {
  background-color: transparent;
  bottom: 60px;
  display: block;
  height: 19px;
  opacity: 0;
  position: absolute;
  right: calc(50.00% - 25px);
  width: 51px;
}

.impressum-3 .gruppe-282-knProc.bp1-animate-enter99 {
  animation: bp1-animate-enter99-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter99-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-3 .iconfinder_icon-social-facebook_211902-SzCDQQ {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 9px;
}

.impressum-3 .comp_x5-f_173-instagram-SzCDQQ {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 19px;
}

.impressum-3 .gruppe-251-b3MsMT {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.impressum-3 .pfad-302-QBH0Id {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-3 .wko_white_transparent-knProc {
  background-color: transparent;
  cursor: pointer;
  height: 120px;
  left: -17px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: -6px;
  transition: all 1s ease;
  width: 160px;
}

.impressum-3 .wko_white_transparent-knProc:hover {
  transform: scale(1.1);
}

.impressum-3 .gruppe-285-knProc {
  background-color: transparent;
  bottom: 354px;
  display: block;
  height: 61px;
  left: calc(42.22% - 23px);
  opacity: 0;
  position: absolute;
  width: 54px;
}

.impressum-3 .gruppe-285-knProc.bp1-animate-enter100 {
  animation: bp1-animate-enter100-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter100-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-3 .produkte-KR3eGn {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% - 1px);
}

.impressum-3 .edition-one-KR3eGn {
  background-color: transparent;
  bottom: -3px;
  cursor: pointer;
  height: 14px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.impressum-3 .gruppe-284-knProc {
  background-color: transparent;
  bottom: 267px;
  display: block;
  height: 148px;
  left: 37px;
  opacity: 0;
  position: absolute;
  width: 70px;
}

.impressum-3 .gruppe-284-knProc.bp1-animate-enter101 {
  animation: bp1-animate-enter101-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter101-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-3 .recht-yCy0jg {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: 34px;
}

.impressum-3 .datenschutz-yCy0jg {
  background-color: transparent;
  cursor: pointer;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: calc(37.31% - 5px);
  white-space: nowrap;
  width: 57px;
}

.impressum-3 .impressum-yCy0jg {
  background-color: transparent;
  bottom: calc(41.04% - 6px);
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 51px;
}

.impressum-3 .ag-bs-yCy0jg {
  background-color: transparent;
  bottom: calc(19.40% - 3px);
  cursor: pointer;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 28px;
}

.impressum-3 .widerrufsrecht-yCy0jg {
  background-color: transparent;
  bottom: -3px;
  cursor: pointer;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.impressum-3 .gruppe-280-knProc {
  background-color: transparent;
  height: 12px;
  position: absolute;
  right: calc(17.03% - 33px);
  top: 61px;
  width: 193px;
}

.impressum-3 .produkte-nzJIQE {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 1px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 42px;
}

.impressum-3 .produkte-nzJIQE:hover {
  opacity: 0;
}

.impressum-3 .ber-uns-nzJIQE {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 10px;
  pointer-events: auto;
  position: absolute;
  right: calc(47.90% - 21px);
  text-align: left;
  top: 1px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 43px;
}

.impressum-3 .ber-uns-nzJIQE:hover {
  opacity: 0;
}

.impressum-3 .kontakt-nzJIQE {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 10px;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 1px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 39px;
}

.impressum-3 .kontakt-nzJIQE:hover {
  opacity: 0;
}
@media screen and (max-width: 766px) {
  .screen.impressum { 
    display: none;
   }
  .screen.impressum-1 { 
    display: none;
   }
  .screen.impressum-2 { 
    display: none;
   }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .screen.impressum { 
    display: none;
   }
  .screen.impressum-1 { 
    display: none;
   }
  .screen.impressum-3 { 
    display: none;
   }
}
@media screen and (min-width: 1200px) and (max-width: 1899px) {
  .screen.impressum { 
    display: none;
   }
  .screen.impressum-2 { 
    display: none;
   }
  .screen.impressum-3 { 
    display: none;
   }
}
@media screen and (min-width: 1900px) {
  .screen.impressum-1 { 
    display: none;
   }
  .screen.impressum-2 { 
    display: none;
   }
  .screen.impressum-3 { 
    display: none;
   }
}