/* screen - impressum-1200 */

.impressum-1200 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1730px;
  min-width: 1200px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.impressum-1200 .detailed_elegant_mar-oaVtER {
  background-color: transparent;
  height: calc(100.00% + 1585px);
  left: -1675px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 3480px);
}

.impressum-1200 .wunderkind-original-oaVtER {
  background-color: transparent;
  display: block;
  height: 846px;
  left: 197px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 254px;
  width: calc(100.00% - 366px);
}

.impressum-1200 .wunderkind-original-oaVtER.bp3-animate-enter38 {
  animation: bp3-animate-enter38-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter38-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1200 .wko_white_transparent-oaVtER {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 202px;
  left: 160px;
  object-fit: cover;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: -15px;
  transform: translate(-25px, 0);
  transition: all 1s ease;
  width: 269px;
}

.impressum-1200 .wko_white_transparent-oaVtER.bp3-animate-enter39 {
  animation: bp3-animate-enter39-frames 0.30s linear 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(-25px, 0);
}

@keyframes bp3-animate-enter39-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.impressum-1200 .wko_white_transparent-oaVtER:hover {
  transform: scale(1.1);
}

.impressum-1200 .gruppe-268-oaVtER {
  background-color: transparent;
  height: 21px;
  position: absolute;
  right: calc(21.53% - 74px);
  top: 86px;
  width: 345px;
}

.impressum-1200 .produkte-WzeHhy {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 75px;
}

.impressum-1200 .produkte-WzeHhy:hover {
  opacity: 0;
}

.impressum-1200 .ber-uns-WzeHhy {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  right: calc(48.32% - 36px);
  text-align: left;
  top: 2px;
  transition: all 0.9s ease;
  white-space: nowrap;
  width: 75px;
}

.impressum-1200 .ber-uns-WzeHhy:hover {
  opacity: 0;
}

.impressum-1200 .kontakt-WzeHhy {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 2px;
  transition: all 0.9s ease;
  white-space: nowrap;
  width: 68px;
}

.impressum-1200 .kontakt-WzeHhy:hover {
  opacity: 0;
}

.impressum-1200 .linie-39-oaVtER {
  background-color: transparent;
  bottom: 28.46%;
  display: block;
  height: 1px;
  left: calc(50.00% - 382px);
  object-fit: cover;
  opacity: 0;
  position: absolute;
  width: 763px;
}

.impressum-1200 .linie-39-oaVtER.bp3-animate-enter40 {
  animation: bp3-animate-enter40-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter40-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1200 .gruppe-271-oaVtER {
  background-color: transparent;
  bottom: calc(19.95% - 13px);
  display: block;
  height: 66px;
  left: calc(36.43% - 29px);
  opacity: 0;
  position: absolute;
  width: 79px;
}

.impressum-1200 .gruppe-271-oaVtER.bp3-animate-enter41 {
  animation: bp3-animate-enter41-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter41-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1200 .produkte-MAKNn8 {
  background-color: transparent;
  height: 23px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 1px);
}

.impressum-1200 .edition-one-MAKNn8 {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.impressum-1200 .gruppe-270-oaVtER {
  background-color: transparent;
  bottom: 203px;
  display: block;
  height: 195px;
  left: 218px;
  opacity: 0;
  position: absolute;
  width: 108px;
}

.impressum-1200 .gruppe-270-oaVtER.bp3-animate-enter42 {
  animation: bp3-animate-enter42-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter42-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1200 .recht-KBJneX {
  background-color: transparent;
  height: 23px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 51px;
}

.impressum-1200 .datenschutz-KBJneX {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: calc(28.29% - 6px);
  white-space: nowrap;
  width: 89px;
}

.impressum-1200 .impressum-KBJneX {
  background-color: transparent;
  bottom: calc(47.14% - 9px);
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 78px;
}

.impressum-1200 .ag-bs-KBJneX {
  background-color: transparent;
  bottom: calc(22.57% - 5px);
  cursor: pointer;
  height: 20px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 43px;
}

.impressum-1200 .widerrufsrecht-KBJneX {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.impressum-1200 .rechteck-331-oaVtER {
  background-color: var(--licorice);
  bottom: -1px;
  display: block;
  height: 44px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.impressum-1200 .rechteck-331-oaVtER.bp3-animate-enter43 {
  animation: bp3-animate-enter43-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter43-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1200 .wunderkind-original-sCwUMR {
  background-color: transparent;
  bottom: 10px;
  display: block;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 12px;
  opacity: 0;
  position: absolute;
  right: calc(49.89% - 162px);
  text-align: left;
  width: 324px;
}

.impressum-1200 .wunderkind-original-sCwUMR.bp3-animate-enter44 {
  animation: bp3-animate-enter44-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter44-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1200 .gruppe-273-oaVtER {
  background-color: transparent;
  bottom: 64px;
  display: block;
  height: 23px;
  left: calc(50.00% - 39px);
  opacity: 0;
  position: absolute;
  width: 78px;
}

.impressum-1200 .gruppe-273-oaVtER.bp3-animate-enter45 {
  animation: bp3-animate-enter45-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter45-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1200 .iconfinder_icon-social-facebook_211902-ibUZ3c {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 12px;
}

.impressum-1200 .comp_x5-f_173-instagram-ibUZ3c {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 23px;
}

.impressum-1200 .gruppe-251-n2OLP2 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.impressum-1200 .pfad-302-6ZoCqi {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
/* screen - impressum-1900 */

.impressum-1900 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1681px;
  min-width: 1900px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.impressum-1900 .detailed_elegant_mar-2Ntp5t {
  background-color: transparent;
  height: calc(100.00% + 3122px);
  left: -2337px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 4880px);
}

.impressum-1900 .wunderkind-original-2Ntp5t {
  background-color: transparent;
  display: block;
  height: 786px;
  left: 431px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: calc(28.49% - 224px);
  width: calc(100.00% - 860px);
}

.impressum-1900 .wunderkind-original-2Ntp5t.bp4-animate-enter62 {
  animation: bp4-animate-enter62-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter62-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1900 .wko_white_transparent-2Ntp5t {
  background-color: transparent;
  cursor: pointer;
  height: 202px;
  left: 252px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: -15px;
  transition: all 1s ease;
  width: 269px;
}

.impressum-1900 .wko_white_transparent-2Ntp5t:hover {
  transform: scale(1.1);
}

.impressum-1900 .linie-42-2Ntp5t {
  background-color: transparent;
  bottom: 29.13%;
  display: block;
  height: 1px;
  left: calc(50.00% - 620px);
  object-fit: cover;
  opacity: 0;
  position: absolute;
  width: 1241px;
}

.impressum-1900 .linie-42-2Ntp5t.bp4-animate-enter63 {
  animation: bp4-animate-enter63-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter63-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1900 .gruppe-304-2Ntp5t {
  background-color: transparent;
  bottom: calc(20.40% - 13px);
  display: block;
  height: 66px;
  left: calc(29.98% - 24px);
  opacity: 0;
  position: absolute;
  width: 79px;
}

.impressum-1900 .gruppe-304-2Ntp5t.bp4-animate-enter64 {
  animation: bp4-animate-enter64-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter64-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1900 .produkte-ui2KCf {
  background-color: transparent;
  height: 23px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: calc(3.49% - 1px);
  white-space: nowrap;
  width: 78px;
}

.impressum-1900 .edition-one-ui2KCf {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: calc(107.61% - 22px);
  white-space: nowrap;
  width: 81px;
}

.impressum-1900 .gruppe-305-2Ntp5t {
  background-color: transparent;
  bottom: 200px;
  display: block;
  height: 195px;
  left: 326px;
  opacity: 0;
  position: absolute;
  width: 107px;
}

.impressum-1900 .gruppe-305-2Ntp5t.bp4-animate-enter65 {
  animation: bp4-animate-enter65-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter65-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1900 .recht-i2eAGy {
  background-color: transparent;
  height: 23px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 0.87%;
  white-space: nowrap;
  width: 51px;
}

.impressum-1900 .datenschutz-i2eAGy {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 0.22%;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: calc(28.29% - 6px);
  white-space: nowrap;
  width: 89px;
}

.impressum-1900 .impressum-i2eAGy {
  background-color: transparent;
  bottom: 82px;
  height: 20px;
  left: 0.21%;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 78px;
}

.impressum-1900 .ag-bs-i2eAGy {
  background-color: transparent;
  bottom: 40px;
  cursor: pointer;
  height: 20px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 43px;
}

.impressum-1900 .widerrufsrecht-i2eAGy {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 109px;
}

.impressum-1900 .rechteck-337-2Ntp5t {
  background-color: var(--licorice);
  bottom: -4px;
  display: block;
  height: 44px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.impressum-1900 .rechteck-337-2Ntp5t.bp4-animate-enter66 {
  animation: bp4-animate-enter66-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter66-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1900 .wunderkind-original-1xAnQU {
  background-color: transparent;
  bottom: 12px;
  display: block;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 15px;
  opacity: 0;
  position: absolute;
  right: calc(49.93% - 188px);
  text-align: left;
  width: 376px;
}

.impressum-1900 .wunderkind-original-1xAnQU.bp4-animate-enter67 {
  animation: bp4-animate-enter67-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter67-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1900 .gruppe-306-2Ntp5t {
  background-color: transparent;
  bottom: 79px;
  display: block;
  height: 23px;
  left: calc(50.00% - 47px);
  opacity: 0;
  position: absolute;
  width: 94px;
}

.impressum-1900 .gruppe-306-2Ntp5t.bp4-animate-enter68 {
  animation: bp4-animate-enter68-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter68-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-1900 .iconfinder_icon-social-facebook_211902-nQWvPe {
  background-color: transparent;
  bottom: 0px;
  cursor: pointer;
  height: 23px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 12px;
}

.impressum-1900 .comp_x5-f_173-instagram-nQWvPe {
  background-color: transparent;
  bottom: 1px;
  cursor: pointer;
  height: 23px;
  position: absolute;
  right: 0px;
  width: 23px;
}

.impressum-1900 .gruppe-251-U9o0Wm {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.impressum-1900 .pfad-302-tqoxjx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.impressum-1900 .gruppe-262-2Ntp5t {
  background-color: transparent;
  height: 21px;
  position: absolute;
  right: calc(25.94% - 112px);
  top: 86px;
  width: 432px;
}

.impressum-1900 .produkte-IRxpfx {
  background-color: transparent;
  cursor: pointer;
  height: 23px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 2s ease;
  white-space: nowrap;
  width: 75px;
}

.impressum-1900 .produkte-IRxpfx:hover {
  opacity: 0;
}

.impressum-1900 .ber-uns-IRxpfx {
  background-color: transparent;
  cursor: pointer;
  height: 23px;
  left: calc(48.48% - 36px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 2s ease;
  white-space: nowrap;
  width: 75px;
}

.impressum-1900 .ber-uns-IRxpfx:hover {
  opacity: 0;
}

.impressum-1900 .kontakt-IRxpfx {
  background-color: transparent;
  cursor: pointer;
  height: 23px;
  left: calc(100.55% - 68px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 2s ease;
  white-space: nowrap;
  width: 68px;
}

.impressum-1900 .kontakt-IRxpfx:hover {
  opacity: 0;
}
/* screen - impressum-375 */

.impressum-375 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2669px;
  min-width: 375px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.impressum-375 .detailed_elegant_mar-DHh6RZ {
  background-color: transparent;
  height: 100.02%;
  left: -447.03%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1004.89%;
}

.impressum-375 .wunderkind-original-DHh6RZ {
  background-color: transparent;
  display: block;
  height: 1476px;
  left: 16.27%;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 9.40%;
  width: 68.00%;
}

.impressum-375 .wunderkind-original-DHh6RZ.bp1-animate-enter50 {
  animation: bp1-animate-enter50-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter50-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .linie-39-DHh6RZ {
  background-color: transparent;
  bottom: 18.47%;
  display: block;
  height: 1px;
  left: calc(50.00% - 150px);
  object-fit: cover;
  opacity: 0;
  position: absolute;
  width: 301px;
}

.impressum-375 .linie-39-DHh6RZ.bp1-animate-enter51 {
  animation: bp1-animate-enter51-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter51-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .gruppe-285-DHh6RZ {
  background-color: transparent;
  bottom: 334px;
  display: block;
  height: 60px;
  left: calc(48.66% - 27px);
  opacity: 0;
  position: absolute;
  width: 56px;
}

.impressum-375 .gruppe-285-DHh6RZ.bp1-animate-enter52 {
  animation: bp1-animate-enter52-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter52-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .produkte-nkpVcP {
  background-color: transparent;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 3px);
}

.impressum-375 .edition-one-nkpVcP {
  background-color: transparent;
  bottom: -3px;
  height: 14px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.impressum-375 .gruppe-284-DHh6RZ {
  background-color: transparent;
  bottom: 246px;
  display: block;
  height: 147px;
  left: 57px;
  opacity: 0;
  position: absolute;
  width: 75px;
}

.impressum-375 .gruppe-284-DHh6RZ.bp1-animate-enter53 {
  animation: bp1-animate-enter53-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter53-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .recht-mnf4TH {
  background-color: transparent;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 34px;
}

.impressum-375 .datenschutz-mnf4TH {
  background-color: transparent;
  cursor: pointer;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: calc(36.84% - 5px);
  white-space: nowrap;
  width: 63px;
}

.impressum-375 .impressum-mnf4TH {
  background-color: transparent;
  bottom: calc(41.35% - 6px);
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 55px;
}

.impressum-375 .ag-bs-mnf4TH {
  background-color: transparent;
  bottom: calc(19.55% - 3px);
  cursor: pointer;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 31px;
}

.impressum-375 .widerrufsrecht-mnf4TH {
  background-color: transparent;
  bottom: -3px;
  cursor: pointer;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.impressum-375 .rechteck-331-DHh6RZ {
  background-color: var(--licorice);
  bottom: 0px;
  display: block;
  height: 44px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.impressum-375 .rechteck-331-DHh6RZ.bp1-animate-enter54 {
  animation: bp1-animate-enter54-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter54-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .wunderkind-original-FXP54J {
  background-color: transparent;
  bottom: 6px;
  display: block;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 7px;
  opacity: 0;
  position: absolute;
  right: calc(49.44% - 98px);
  text-align: left;
  width: 198px;
}

.impressum-375 .wunderkind-original-FXP54J.bp1-animate-enter55 {
  animation: bp1-animate-enter55-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter55-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .gruppe-282-DHh6RZ {
  background-color: transparent;
  bottom: 60px;
  display: block;
  height: 19px;
  opacity: 0;
  position: absolute;
  right: calc(50.00% - 25px);
  width: 51px;
}

.impressum-375 .gruppe-282-DHh6RZ.bp1-animate-enter56 {
  animation: bp1-animate-enter56-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter56-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-375 .iconfinder_icon-social-facebook_211902-0jGYsq {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 9px;
}

.impressum-375 .comp_x5-f_173-instagram-0jGYsq {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 19px;
}

.impressum-375 .gruppe-251-7CtFbx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.impressum-375 .pfad-302-cfOJ0D {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-375 .wko_white_transparent-DHh6RZ {
  background-color: transparent;
  cursor: pointer;
  height: 120px;
  left: -17px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: -6px;
  transition: all 1s ease;
  width: 160px;
}

.impressum-375 .wko_white_transparent-DHh6RZ:hover {
  transform: scale(1.1);
}

.impressum-375 .gruppe-280-DHh6RZ {
  background-color: transparent;
  height: 12px;
  position: absolute;
  right: calc(15.64% - 31px);
  top: 60px;
  width: 196px;
}

.impressum-375 .produkte-4J0smq {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 1px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 46px;
}

.impressum-375 .produkte-4J0smq:hover {
  opacity: 0;
}

.impressum-375 .ber-uns-4J0smq {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 10px;
  pointer-events: auto;
  position: absolute;
  right: calc(47.90% - 22px);
  text-align: left;
  top: 1px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 46px;
}

.impressum-375 .ber-uns-4J0smq:hover {
  opacity: 0;
}

.impressum-375 .kontakt-4J0smq {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 10px;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 1px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 42px;
}

.impressum-375 .kontakt-4J0smq:hover {
  opacity: 0;
}
/* screen - impressum-767 */

.impressum-767 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1867px;
  min-width: 767px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.impressum-767 .detailed_elegant_mar-JqU86S {
  background-color: transparent;
  height: 317.00%;
  left: -489.27%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1089.38%;
}

.impressum-767 .wunderkind-original-JqU86S {
  background-color: transparent;
  display: block;
  height: 1173px;
  left: 115px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 254px;
  width: calc(100.00% - 226px);
}

.impressum-767 .wunderkind-original-JqU86S.bp2-animate-enter49 {
  animation: bp2-animate-enter49-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter49-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-767 .wko_white_transparent-JqU86S {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 202px;
  left: 45px;
  object-fit: cover;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: -15px;
  transform: translate(-25px, 0);
  transition: all 1s ease;
  width: 269px;
}

.impressum-767 .wko_white_transparent-JqU86S.bp2-animate-enter50 {
  animation: bp2-animate-enter50-frames 0.30s linear 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(-25px, 0);
}

@keyframes bp2-animate-enter50-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.impressum-767 .wko_white_transparent-JqU86S:hover {
  transform: scale(1.1);
}

.impressum-767 .gruppe-274-JqU86S {
  background-color: transparent;
  height: 21px;
  position: absolute;
  right: calc(17.86% - 54px);
  top: 86px;
  width: 305px;
}

.impressum-767 .produkte-sHmkm6 {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 75px;
}

.impressum-767 .produkte-sHmkm6:hover {
  opacity: 0;
}

.impressum-767 .ber-uns-sHmkm6 {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  right: calc(48.04% - 36px);
  text-align: left;
  top: 2px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 75px;
}

.impressum-767 .ber-uns-sHmkm6:hover {
  opacity: 0;
}

.impressum-767 .kontakt-sHmkm6 {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 2px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 68px;
}

.impressum-767 .kontakt-sHmkm6:hover {
  opacity: 0;
}

.impressum-767 .linie-39-JqU86S {
  background-color: transparent;
  bottom: 26.37%;
  display: block;
  height: 1px;
  left: calc(50.00% - 254px);
  object-fit: cover;
  opacity: 0;
  position: absolute;
  width: 509px;
}

.impressum-767 .linie-39-JqU86S.bp2-animate-enter51 {
  animation: bp2-animate-enter51-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter51-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-767 .gruppe-277-JqU86S {
  background-color: transparent;
  bottom: calc(18.43% - 12px);
  display: block;
  height: 66px;
  left: calc(36.43% - 29px);
  opacity: 0;
  position: absolute;
  width: 79px;
}

.impressum-767 .gruppe-277-JqU86S.bp2-animate-enter52 {
  animation: bp2-animate-enter52-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter52-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-767 .produkte-jNETSy {
  background-color: transparent;
  height: 23px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 1px);
}

.impressum-767 .edition-one-jNETSy {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.impressum-767 .gruppe-276-JqU86S {
  background-color: transparent;
  bottom: 203px;
  display: block;
  height: 195px;
  left: 132px;
  opacity: 0;
  position: absolute;
  width: 107px;
}

.impressum-767 .gruppe-276-JqU86S.bp2-animate-enter53 {
  animation: bp2-animate-enter53-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter53-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-767 .recht-3ZWDE4 {
  background-color: transparent;
  height: 23px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 51px;
}

.impressum-767 .datenschutz-3ZWDE4 {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: calc(28.29% - 6px);
  white-space: nowrap;
  width: 89px;
}

.impressum-767 .impressum-3ZWDE4 {
  background-color: transparent;
  bottom: calc(47.14% - 9px);
  height: 20px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 78px;
}

.impressum-767 .ag-bs-3ZWDE4 {
  background-color: transparent;
  bottom: calc(22.57% - 5px);
  cursor: pointer;
  height: 20px;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 43px;
}

.impressum-767 .widerrufsrecht-3ZWDE4 {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.impressum-767 .gruppe-279-JqU86S {
  background-color: transparent;
  bottom: 69px;
  display: block;
  height: 19px;
  left: calc(50.00% - 25px);
  opacity: 0;
  position: absolute;
  width: 49px;
}

.impressum-767 .gruppe-279-JqU86S.bp2-animate-enter54 {
  animation: bp2-animate-enter54-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter54-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-767 .iconfinder_icon-social-facebook_211902-t6MNDA {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 9px;
}

.impressum-767 .comp_x5-f_173-instagram-t6MNDA {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 1px;
  width: 19px;
}

.impressum-767 .gruppe-251-SHpiFl {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.impressum-767 .pfad-302-rNVO7L {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.impressum-767 .rechteck-331-JqU86S {
  background-color: var(--licorice);
  bottom: -1px;
  display: block;
  height: 44px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.impressum-767 .rechteck-331-JqU86S.bp2-animate-enter55 {
  animation: bp2-animate-enter55-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter55-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.impressum-767 .wunderkind-original-KcckT3 {
  background-color: transparent;
  bottom: 5px;
  display: block;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 10px;
  opacity: 0;
  position: absolute;
  right: calc(48.25% - 136px);
  text-align: left;
  width: 281px;
}

.impressum-767 .wunderkind-original-KcckT3.bp2-animate-enter56 {
  animation: bp2-animate-enter56-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter56-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}
@media screen and (max-width: 766px) {
  .screen.impressum-1900 { 
    display: none;
   }
  .screen.impressum-767 { 
    display: none;
   }
  .screen.impressum-1200 { 
    display: none;
   }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .screen.impressum-1900 { 
    display: none;
   }
  .screen.impressum-375 { 
    display: none;
   }
  .screen.impressum-1200 { 
    display: none;
   }
}
@media screen and (min-width: 1200px) and (max-width: 1899px) {
  .screen.impressum-1900 { 
    display: none;
   }
  .screen.impressum-375 { 
    display: none;
   }
  .screen.impressum-767 { 
    display: none;
   }
}
@media screen and (min-width: 1900px) {
  .screen.impressum-375 { 
    display: none;
   }
  .screen.impressum-767 { 
    display: none;
   }
  .screen.impressum-1200 { 
    display: none;
   }
}