/* screen - index */

.index {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1635px;
  min-width: 1900px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.index .home-IO3Fu5 {
  background-color: transparent;
  display: block;
  height: calc(100.00% - 368px);
  left: 0px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: -34px;
  width: 100%;
}

.index .home-IO3Fu5.bp4-animate-enter13 {
  animation: bp4-animate-enter13-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter13-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index .rechteck-326-IO3Fu5 {
  background-color: var(--white);
  height: 187px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .detailed_elegant_mar-IO3Fu5 {
  background-color: transparent;
  height: 1715px;
  left: -100px;
  object-fit: cover;
  position: absolute;
  top: -1528px;
  width: calc(100.00% + 522px);
}

.index .rechteck-329-IO3Fu5 {
  background-color: var(--white);
  bottom: calc(24.02% - 51px);
  display: block;
  height: 211px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.index .rechteck-329-IO3Fu5.bp4-animate-enter14 {
  animation: bp4-animate-enter14-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter14-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index .wunderkind-original-design-IO3Fu5 {
  background-color: transparent;
  display: block;
  height: 50px;
  letter-spacing: 0.00px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  right: calc(28.65% - 144px);
  text-align: left;
  top: calc(30.73% - 15px);
  white-space: nowrap;
  width: 504px;
}

.index .wunderkind-original-design-IO3Fu5.bp4-animate-enter15 {
  animation: bp4-animate-enter15-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter15-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index .for-people-who-defin-IO3Fu5 {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-family: var(--font-family-quasimoda-regular);
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  height: 98px;
  letter-spacing: 0.00px;
  line-height: 38px;
  opacity: 0;
  position: absolute;
  right: calc(26.06% - 144px);
  text-align: left;
  top: calc(35.82% - 35px);
  width: 554px;
}

.index .for-people-who-defin-IO3Fu5.bp4-animate-enter16 {
  animation: bp4-animate-enter16-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter16-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index .gruppe-263-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 58px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: calc(39.01% - 103px);
  top: calc(41.79% - 24px);
  transition: all 0.2s ease;
  width: 264px;
}

.index .gruppe-263-IO3Fu5.bp4-animate-enter17 {
  animation: bp4-animate-enter17-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter17-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index .gruppe-263-IO3Fu5:hover {
  transform: translate(0, -5px);
}

.index .shop-ZW083V {
  background-color: transparent;
  bottom: calc(44.64% - 13px);
  height: 30px;
  letter-spacing: 0.00px;
  line-height: 23px;
  position: absolute;
  right: calc(49.76% - 28px);
  text-align: left;
  white-space: nowrap;
  width: 56px;
}

.index .rechteck-328-ZW083V {
  background-color: transparent;
  border-radius: 3px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .detailed_elegant_mar-865xPf {
  background-color: transparent;
  height: 1715px;
  left: -216px;
  object-fit: cover;
  position: absolute;
  top: 1082px;
  width: 2422px;
}

.index .linie-39-IO3Fu5 {
  background-color: transparent;
  bottom: 30.11%;
  display: block;
  height: 1px;
  left: calc(50.00% - 620px);
  object-fit: cover;
  opacity: 0;
  position: absolute;
  width: 1241px;
}

.index .linie-39-IO3Fu5.bp4-animate-enter18 {
  animation: bp4-animate-enter18-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter18-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index .gruppe-265-IO3Fu5 {
  background-color: transparent;
  bottom: calc(21.12% - 14px);
  display: block;
  height: 68px;
  left: calc(30.00% - 24px);
  opacity: 0;
  position: absolute;
  width: 80px;
}

.index .gruppe-265-IO3Fu5.bp4-animate-enter19 {
  animation: bp4-animate-enter19-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter19-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index .produkte-nnoxOf {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: calc(4.55% - 1px);
  white-space: nowrap;
  width: 79px;
}

.index .edition-one-nnoxOf {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: calc(107.29% - 21px);
  white-space: nowrap;
  width: 82px;
}

.index .gruppe-264-IO3Fu5 {
  background-color: transparent;
  bottom: 202px;
  display: block;
  height: 197px;
  left: 326px;
  opacity: 0;
  position: absolute;
  width: 105px;
}

.index .gruppe-264-IO3Fu5.bp4-animate-enter20 {
  animation: bp4-animate-enter20-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter20-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index .recht-jB5XmO {
  background-color: transparent;
  height: 24px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 1.16%;
  white-space: nowrap;
  width: 50px;
}

.index .datenschutz-jB5XmO {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 0.20%;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: calc(29.10% - 6px);
  white-space: nowrap;
  width: 85px;
}

.index .impressum-jB5XmO {
  background-color: transparent;
  bottom: 82px;
  cursor: pointer;
  height: 20px;
  left: 0.21%;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 75px;
}

.index .ag-bs-jB5XmO {
  background-color: transparent;
  bottom: 40px;
  cursor: pointer;
  height: 20px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 41px;
}

.index .widerrufsrecht-jB5XmO {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 107px;
}

.index .gruppe-267-IO3Fu5 {
  background-color: transparent;
  bottom: 69px;
  display: block;
  height: 23px;
  opacity: 0;
  position: absolute;
  right: calc(47.60% - 45px);
  width: 94px;
}

.index .gruppe-267-IO3Fu5.bp4-animate-enter21 {
  animation: bp4-animate-enter21-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter21-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index .icon-facebook-6ItbY5 {
  background-color: transparent;
  bottom: 0px;
  cursor: pointer;
  height: 23px;
  object-fit: cover;
  position: absolute;
  right: calc(100.00% - 12px);
  width: 12px;
}

.index .comp_x5-f_173-instagram-6ItbY5 {
  background-color: transparent;
  bottom: 1px;
  cursor: pointer;
  height: 23px;
  position: absolute;
  right: 0px;
  width: 23px;
}

.index .gruppe-251-IQAxzK {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.index .icon-instagram-q3yFqw {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.index .rechteck-331-IO3Fu5 {
  background-color: var(--licorice);
  bottom: -1px;
  display: block;
  height: 44px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.index .rechteck-331-IO3Fu5.bp4-animate-enter22 {
  animation: bp4-animate-enter22-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter22-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index .wunderkind-original-IO3Fu5 {
  background-color: transparent;
  bottom: 2px;
  display: block;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 15px;
  opacity: 0;
  position: absolute;
  right: calc(46.80% - 176px);
  text-align: left;
  white-space: nowrap;
  width: 376px;
}

.index .wunderkind-original-IO3Fu5.bp4-animate-enter23 {
  animation: bp4-animate-enter23-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter23-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index .gruppe-262-IO3Fu5 {
  background-color: transparent;
  height: 22px;
  position: absolute;
  right: calc(25.89% - 112px);
  top: 86px;
  width: 433px;
}

.index .produkte-xHZW7B {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 2s ease;
  white-space: nowrap;
  width: 74px;
}

.index .produkte-xHZW7B:hover {
  opacity: 0;
}

.index .ber-uns-xHZW7B {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: calc(48.35% - 36px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 2s ease;
  white-space: nowrap;
  width: 75px;
}

.index .ber-uns-xHZW7B:hover {
  opacity: 0;
}

.index .kontakt-xHZW7B {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: calc(100.55% - 69px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 2s ease;
  white-space: nowrap;
  width: 69px;
}

.index .kontakt-xHZW7B:hover {
  opacity: 0;
}

.index .wko_white_transparent-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  height: 202px;
  left: 252px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: -15px;
  transition: all 1s ease;
  width: 269px;
}

.index .wko_white_transparent-IO3Fu5:hover {
  transform: scale(1.1);
}
/* screen - index-1 */

.index-1 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1316px;
  min-width: 1200px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.index-1 .rechteck-327-H5p1XY {
  background-color: var(--black);
  display: block;
  height: 579px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 187px;
  width: 100%;
}

.index-1 .rechteck-327-H5p1XY.bp3-animate-enter14 {
  animation: bp3-animate-enter14-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter14-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-1 .rechteck-327-x8zAjE {
  background-color: var(--black);
  display: block;
  height: 579px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 187px;
  width: 100%;
}

.index-1 .rechteck-327-x8zAjE.bp3-animate-enter15 {
  animation: bp3-animate-enter15-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter15-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-1 .home-H5p1XY {
  background-color: transparent;
  display: block;
  height: 800px;
  left: 0px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: -34px;
  width: 100%;
}

.index-1 .home-H5p1XY.bp3-animate-enter16 {
  animation: bp3-animate-enter16-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter16-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-1 .rechteck-326-H5p1XY {
  background-color: var(--white);
  height: 187px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index-1 .detailed_elegant_mar-H5p1XY {
  background-color: transparent;
  height: 1715px;
  left: -63px;
  object-fit: cover;
  position: absolute;
  top: -1528px;
  width: calc(100.00% + 1221px);
}

.index-1 .rechteck-329-H5p1XY {
  background-color: var(--white);
  bottom: calc(30.68% - 65px);
  display: block;
  height: 211px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.index-1 .rechteck-329-H5p1XY.bp3-animate-enter17 {
  animation: bp3-animate-enter17-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter17-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-1 .wunderkind-original-design-H5p1XY {
  background-color: transparent;
  display: block;
  height: 50px;
  left: calc(27.53% - 139px);
  letter-spacing: 0.00px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: calc(35.55% - 18px);
  white-space: nowrap;
  width: 504px;
}

.index-1 .wunderkind-original-design-H5p1XY.bp3-animate-enter18 {
  animation: bp3-animate-enter18-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter18-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-1 .for-people-who-defin-H5p1XY {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-family: var(--font-family-quasimoda-regular);
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  height: 98px;
  left: calc(29.66% - 164px);
  letter-spacing: 0.00px;
  line-height: 33px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: calc(42.36% - 42px);
  width: 554px;
}

.index-1 .for-people-who-defin-H5p1XY.bp3-animate-enter19 {
  animation: bp3-animate-enter19-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter19-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-1 .gruppe-269-H5p1XY {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 58px;
  left: calc(30.35% - 80px);
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: calc(49.44% - 29px);
  transition: all 0.2s ease;
  width: 264px;
}

.index-1 .gruppe-269-H5p1XY.bp3-animate-enter20 {
  animation: bp3-animate-enter20-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter20-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-1 .gruppe-269-H5p1XY:hover {
  transform: translate(0, -5px);
}

.index-1 .shop-Ni4Rtj {
  background-color: transparent;
  height: 32px;
  letter-spacing: 0.00px;
  line-height: 23px;
  position: absolute;
  right: calc(45.03% - 30px);
  text-align: left;
  top: 14px;
  width: 67px;
}

.index-1 .rechteck-328-Ni4Rtj {
  background-color: transparent;
  border-radius: 3px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index-1 .detailed_elegant_mar-x8zAjE {
  background-color: transparent;
  bottom: -1165px;
  height: 1715px;
  left: -136px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% + 1222px);
}

.index-1 .linie-39-H5p1XY {
  background-color: transparent;
  bottom: 37.19%;
  display: block;
  height: 1px;
  left: calc(50.00% - 382px);
  object-fit: cover;
  opacity: 0;
  position: absolute;
  width: 763px;
}

.index-1 .linie-39-H5p1XY.bp3-animate-enter21 {
  animation: bp3-animate-enter21-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter21-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-1 .gruppe-271-H5p1XY {
  background-color: transparent;
  bottom: calc(26.28% - 18px);
  display: block;
  height: 68px;
  left: calc(36.47% - 29px);
  opacity: 0;
  position: absolute;
  width: 80px;
}

.index-1 .gruppe-271-H5p1XY.bp3-animate-enter22 {
  animation: bp3-animate-enter22-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter22-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-1 .produkte-ekCarZ {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 1px);
}

.index-1 .edition-one-ekCarZ {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.index-1 .gruppe-270-H5p1XY {
  background-color: transparent;
  bottom: 199px;
  display: block;
  height: 197px;
  left: 218px;
  opacity: 0;
  position: absolute;
  width: 106px;
}

.index-1 .gruppe-270-H5p1XY.bp3-animate-enter23 {
  animation: bp3-animate-enter23-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter23-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-1 .recht-ltz0Aw {
  background-color: transparent;
  height: 24px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 50px;
}

.index-1 .datenschutz-ltz0Aw {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: calc(29.10% - 6px);
  white-space: nowrap;
  width: 85px;
}

.index-1 .impressum-ltz0Aw {
  background-color: transparent;
  bottom: calc(46.61% - 9px);
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 75px;
}

.index-1 .ag-bs-ltz0Aw {
  background-color: transparent;
  bottom: calc(22.32% - 4px);
  cursor: pointer;
  height: 20px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 41px;
}

.index-1 .widerrufsrecht-ltz0Aw {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.index-1 .gruppe-273-H5p1XY {
  background-color: transparent;
  bottom: 66px;
  display: block;
  height: 23px;
  left: calc(50.00% - 39px);
  opacity: 0;
  position: absolute;
  width: 78px;
}

.index-1 .gruppe-273-H5p1XY.bp3-animate-enter24 {
  animation: bp3-animate-enter24-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter24-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-1 .icon-facebook-7i7tbH {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 12px;
}

.index-1 .comp_x5-f_173-instagram-7i7tbH {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 23px;
}

.index-1 .gruppe-251-xVmanB {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.index-1 .icon-instagram-rSf4Up {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index-1 .rechteck-331-H5p1XY {
  background-color: var(--licorice);
  bottom: -4px;
  display: block;
  height: 44px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.index-1 .rechteck-331-H5p1XY.bp3-animate-enter25 {
  animation: bp3-animate-enter25-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter25-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-1 .wunderkind-original-H5p1XY {
  background-color: transparent;
  bottom: 7px;
  display: block;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 12px;
  opacity: 0;
  position: absolute;
  right: calc(49.89% - 162px);
  text-align: left;
  width: 324px;
}

.index-1 .wunderkind-original-H5p1XY.bp3-animate-enter26 {
  animation: bp3-animate-enter26-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter26-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-1 .wko_white_transparent-H5p1XY {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 202px;
  left: 160px;
  object-fit: cover;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: -15px;
  transform: translate(-25px, 0);
  transition: all 1s ease;
  width: 269px;
}

.index-1 .wko_white_transparent-H5p1XY.bp3-animate-enter27 {
  animation: bp3-animate-enter27-frames 0.30s linear 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(-25px, 0);
}

@keyframes bp3-animate-enter27-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index-1 .wko_white_transparent-H5p1XY:hover {
  transform: scale(1.1);
}

.index-1 .gruppe-268-H5p1XY {
  background-color: transparent;
  height: 22px;
  position: absolute;
  right: calc(21.43% - 74px);
  top: 86px;
  width: 346px;
}

.index-1 .produkte-JaEyqf {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 74px;
}

.index-1 .produkte-JaEyqf:hover {
  opacity: 0;
}

.index-1 .ber-uns-JaEyqf {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  right: calc(48.51% - 36px);
  text-align: left;
  top: 2px;
  transition: all 0.9s ease;
  white-space: nowrap;
  width: 75px;
}

.index-1 .ber-uns-JaEyqf:hover {
  opacity: 0;
}

.index-1 .kontakt-JaEyqf {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 2px;
  transition: all 0.9s ease;
  white-space: nowrap;
  width: 69px;
}

.index-1 .kontakt-JaEyqf:hover {
  opacity: 0;
}
/* screen - index-2 */

.index-2 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1316px;
  min-width: 767px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.index-2 .home-qIDLcz {
  background-color: transparent;
  display: block;
  height: 800px;
  left: 0px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: -34px;
  width: calc(100.00% + 433px);
}

.index-2 .home-qIDLcz.bp2-animate-enter13 {
  animation: bp2-animate-enter13-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter13-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-2 .rechteck-326-qIDLcz {
  background-color: var(--white);
  height: 187px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index-2 .detailed_elegant_mar-qIDLcz {
  background-color: transparent;
  height: 1715px;
  left: -40px;
  object-fit: cover;
  position: absolute;
  top: -1528px;
  width: calc(100.00% + 1655px);
}

.index-2 .rechteck-329-qIDLcz {
  background-color: var(--white);
  bottom: calc(30.68% - 65px);
  display: block;
  height: 211px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.index-2 .rechteck-329-qIDLcz.bp2-animate-enter14 {
  animation: bp2-animate-enter14-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter14-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-2 .gruppe-275-qIDLcz {
  background-color: transparent;
  display: block;
  height: 250px;
  opacity: 0;
  position: absolute;
  right: 137px;
  top: calc(40.37% - 101px);
  width: 526px;
}

.index-2 .gruppe-275-qIDLcz.bp2-animate-enter15 {
  animation: bp2-animate-enter15-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter15-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-2 .wunderkind-original-design-jhvJzj {
  background-color: transparent;
  height: 50px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: calc(2.01% - 1px);
  white-space: nowrap;
  width: 504px;
}

.index-2 .for-people-who-defin-jhvJzj {
  background-color: transparent;
  bottom: calc(47.52% - 47px);
  color: var(--white);
  font-family: var(--font-family-quasimoda-regular);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
  height: 98px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  width: calc(100.00% + 2px);
}

.index-2 .shop-jhvJzj {
  background-color: transparent;
  bottom: 12px;
  height: 32px;
  left: calc(21.58% - 14px);
  letter-spacing: 0.00px;
  line-height: 23px;
  position: absolute;
  text-align: left;
  width: 67px;
}

.index-2 .rechteck-328-jhvJzj {
  background-color: transparent;
  border-radius: 3px;
  bottom: 0px;
  cursor: pointer;
  height: 58px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 264px;
}

.index-2 .rechteck-328-jhvJzj:hover {
  transform: translate(0, -5px);
}

.index-2 .detailed_elegant_mar-6mmYBH {
  background-color: transparent;
  bottom: -1165px;
  height: 1715px;
  left: -87px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% + 1655px);
}

.index-2 .linie-39-qIDLcz {
  background-color: transparent;
  bottom: 37.19%;
  display: block;
  height: 1px;
  left: calc(50.00% - 254px);
  object-fit: cover;
  opacity: 0;
  position: absolute;
  width: 509px;
}

.index-2 .linie-39-qIDLcz.bp2-animate-enter16 {
  animation: bp2-animate-enter16-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter16-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-2 .gruppe-277-qIDLcz {
  background-color: transparent;
  bottom: calc(26.28% - 18px);
  display: block;
  height: 68px;
  left: calc(36.49% - 29px);
  opacity: 0;
  position: absolute;
  width: 80px;
}

.index-2 .gruppe-277-qIDLcz.bp2-animate-enter17 {
  animation: bp2-animate-enter17-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter17-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-2 .produkte-52duwE {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 1px);
}

.index-2 .edition-one-52duwE {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.index-2 .gruppe-276-qIDLcz {
  background-color: transparent;
  bottom: 199px;
  display: block;
  height: 197px;
  left: 132px;
  opacity: 0;
  position: absolute;
  width: 105px;
}

.index-2 .gruppe-276-qIDLcz.bp2-animate-enter18 {
  animation: bp2-animate-enter18-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter18-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-2 .recht-1AFP2t {
  background-color: transparent;
  height: 24px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 50px;
}

.index-2 .datenschutz-1AFP2t {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: calc(29.10% - 6px);
  white-space: nowrap;
  width: 85px;
}

.index-2 .impressum-1AFP2t {
  background-color: transparent;
  bottom: calc(46.61% - 9px);
  cursor: pointer;
  height: 20px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 75px;
}

.index-2 .ag-bs-1AFP2t {
  background-color: transparent;
  bottom: calc(22.32% - 4px);
  cursor: pointer;
  height: 20px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 41px;
}

.index-2 .widerrufsrecht-1AFP2t {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.index-2 .gruppe-279-qIDLcz {
  background-color: transparent;
  bottom: 66px;
  display: block;
  height: 19px;
  left: calc(50.00% - 25px);
  opacity: 0;
  position: absolute;
  width: 49px;
}

.index-2 .gruppe-279-qIDLcz.bp2-animate-enter19 {
  animation: bp2-animate-enter19-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter19-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-2 .icon-facebook-rCMfky {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 9px;
}

.index-2 .comp_x5-f_173-instagram-rCMfky {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 1px;
  width: 19px;
}

.index-2 .gruppe-251-EzwMGl {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.index-2 .icon-instagram-TZtuL1 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index-2 .rechteck-331-qIDLcz {
  background-color: var(--licorice);
  bottom: -4px;
  display: block;
  height: 44px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.index-2 .rechteck-331-qIDLcz.bp2-animate-enter20 {
  animation: bp2-animate-enter20-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter20-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-2 .wunderkind-original-qIDLcz {
  background-color: transparent;
  bottom: 2px;
  color: var(--gallery);
  display: block;
  font-family: var(--font-family-_applesystemuifont-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 10px;
  opacity: 0;
  position: absolute;
  right: calc(48.25% - 136px);
  text-align: left;
  width: 281px;
}

.index-2 .wunderkind-original-qIDLcz.bp2-animate-enter21 {
  animation: bp2-animate-enter21-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter21-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-2 .wko_white_transparent-qIDLcz {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 202px;
  left: 45px;
  object-fit: cover;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: -15px;
  transform: translate(-25px, 0);
  transition: all 1s ease;
  width: 269px;
}

.index-2 .wko_white_transparent-qIDLcz.bp2-animate-enter22 {
  animation: bp2-animate-enter22-frames 0.30s linear 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(-25px, 0);
}

@keyframes bp2-animate-enter22-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.index-2 .wko_white_transparent-qIDLcz:hover {
  transform: scale(1.1);
}

.index-2 .gruppe-274-qIDLcz {
  background-color: transparent;
  height: 22px;
  position: absolute;
  right: calc(17.68% - 54px);
  top: 86px;
  width: 306px;
}

.index-2 .produkte-mN3NeT {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 74px;
}

.index-2 .produkte-mN3NeT:hover {
  opacity: 0;
}

.index-2 .ber-uns-mN3NeT {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  right: calc(48.27% - 36px);
  text-align: left;
  top: 2px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 75px;
}

.index-2 .ber-uns-mN3NeT:hover {
  opacity: 0;
}

.index-2 .kontakt-mN3NeT {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 2px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 69px;
}

.index-2 .kontakt-mN3NeT:hover {
  opacity: 0;
}
/* screen - index-3 */

.index-3 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1316px;
  min-width: 375px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.index-3 .home-mOV5G4 {
  background-color: transparent;
  display: block;
  height: 800px;
  left: -148px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: -33px;
  width: calc(100.00% + 825px);
}

.index-3 .home-mOV5G4.bp1-animate-enter12 {
  animation: bp1-animate-enter12-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter12-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-3 .rechteck-326-mOV5G4 {
  background-color: var(--white);
  height: 106px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index-3 .detailed_elegant_mar-mOV5G4 {
  background-color: transparent;
  height: 280px;
  left: -10px;
  object-fit: cover;
  position: absolute;
  top: -174px;
  width: calc(100.00% + 20px);
}

.index-3 .rechteck-329-mOV5G4 {
  background-color: var(--white);
  bottom: calc(30.68% - 65px);
  display: block;
  height: 211px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.index-3 .rechteck-329-mOV5G4.bp1-animate-enter13 {
  animation: bp1-animate-enter13-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter13-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-3 .gruppe-283-mOV5G4 {
  background-color: transparent;
  bottom: 631px;
  display: block;
  height: 232px;
  opacity: 0;
  position: absolute;
  right: calc(43.97% - 139px);
  width: 317px;
}

.index-3 .gruppe-283-mOV5G4.bp1-animate-enter14 {
  animation: bp1-animate-enter14-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter14-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-3 .wunderkind-original-design-rz6vPQ {
  background-color: transparent;
  color: var(--gallery);
  font-family: var(--font-family-quasimoda-medium);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  height: 32px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 1.25%;
  white-space: nowrap;
  width: 319px;
}

.index-3 .for-people-who-defin-rz6vPQ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-quasimoda-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  height: 100px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: calc(34.34% - 34px);
  width: 282px;
}

.index-3 .shop-rz6vPQ {
  background-color: transparent;
  bottom: calc(5.99% - 2px);
  height: 32px;
  left: calc(48.61% - 33px);
  letter-spacing: 0.00px;
  line-height: 23px;
  position: absolute;
  text-align: left;
  width: 67px;
}

.index-3 .rechteck-328-rz6vPQ {
  background-color: transparent;
  border-radius: 3px;
  bottom: 0px;
  cursor: pointer;
  height: 58px;
  left: calc(38.04% - 100px);
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 264px;
}

.index-3 .rechteck-328-rz6vPQ:hover {
  transform: translate(0, -5px);
}

.index-3 .detailed_elegant_mar-U6Pmdn {
  background-color: transparent;
  bottom: -1165px;
  height: 1715px;
  left: -27px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% + 2047px);
}

.index-3 .linie-39-mOV5G4 {
  background-color: transparent;
  bottom: 37.19%;
  display: block;
  height: 1px;
  left: calc(50.00% - 150px);
  object-fit: cover;
  opacity: 0;
  position: absolute;
  width: 301px;
}

.index-3 .linie-39-mOV5G4.bp1-animate-enter15 {
  animation: bp1-animate-enter15-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter15-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-3 .gruppe-285-mOV5G4 {
  background-color: transparent;
  bottom: 329px;
  display: block;
  height: 61px;
  left: calc(48.35% - 26px);
  opacity: 0;
  position: absolute;
  width: 54px;
}

.index-3 .gruppe-285-mOV5G4.bp1-animate-enter16 {
  animation: bp1-animate-enter16-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter16-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-3 .produkte-J6JNEX {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% - 1px);
}

.index-3 .edition-one-J6JNEX {
  background-color: transparent;
  bottom: -3px;
  cursor: pointer;
  height: 14px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.index-3 .gruppe-284-mOV5G4 {
  background-color: transparent;
  bottom: 242px;
  display: block;
  height: 148px;
  left: 57px;
  opacity: 0;
  position: absolute;
  width: 70px;
}

.index-3 .gruppe-284-mOV5G4.bp1-animate-enter17 {
  animation: bp1-animate-enter17-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter17-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-3 .recht-63oy9d {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: 34px;
}

.index-3 .datenschutz-63oy9d {
  background-color: transparent;
  cursor: pointer;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: calc(37.31% - 5px);
  white-space: nowrap;
  width: 57px;
}

.index-3 .impressum-63oy9d {
  background-color: transparent;
  bottom: calc(41.04% - 6px);
  cursor: pointer;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 51px;
}

.index-3 .ag-bs-63oy9d {
  background-color: transparent;
  bottom: calc(19.40% - 3px);
  cursor: pointer;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 28px;
}

.index-3 .widerrufsrecht-63oy9d {
  background-color: transparent;
  bottom: -3px;
  cursor: pointer;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.index-3 .gruppe-282-mOV5G4 {
  background-color: transparent;
  bottom: 66px;
  display: block;
  height: 19px;
  opacity: 0;
  position: absolute;
  right: calc(50.00% - 25px);
  width: 51px;
}

.index-3 .gruppe-282-mOV5G4.bp1-animate-enter18 {
  animation: bp1-animate-enter18-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter18-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-3 .icon-facebook-MFfnLi {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 9px;
}

.index-3 .comp_x5-f_173-instagram-MFfnLi {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 19px;
}

.index-3 .gruppe-251-dxRrb5 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.index-3 .icon-instagram-565wlL {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index-3 .rechteck-331-mOV5G4 {
  background-color: var(--licorice);
  bottom: -4px;
  display: block;
  height: 44px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.index-3 .rechteck-331-mOV5G4.bp1-animate-enter19 {
  animation: bp1-animate-enter19-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter19-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-3 .wunderkind-original-mOV5G4 {
  background-color: transparent;
  bottom: 11px;
  display: block;
  height: 11px;
  letter-spacing: 0.00px;
  line-height: 7px;
  opacity: 0;
  position: absolute;
  right: calc(49.49% - 88px);
  text-align: left;
  white-space: nowrap;
  width: 177px;
}

.index-3 .wunderkind-original-mOV5G4.bp1-animate-enter20 {
  animation: bp1-animate-enter20-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter20-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index-3 .wko_white_transparent-mOV5G4 {
  background-color: transparent;
  cursor: pointer;
  height: 120px;
  left: -17px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: -6px;
  transition: all 1s ease;
  width: 160px;
}

.index-3 .wko_white_transparent-mOV5G4:hover {
  transform: scale(1.1);
}

.index-3 .gruppe-280-mOV5G4 {
  background-color: transparent;
  height: 12px;
  position: absolute;
  right: calc(17.03% - 33px);
  top: 61px;
  width: 193px;
}

.index-3 .produkte-61bQiM {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 1px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 42px;
}

.index-3 .produkte-61bQiM:hover {
  opacity: 0;
}

.index-3 .ber-uns-61bQiM {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 10px;
  pointer-events: auto;
  position: absolute;
  right: calc(47.90% - 21px);
  text-align: left;
  top: 1px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 43px;
}

.index-3 .ber-uns-61bQiM:hover {
  opacity: 0;
}

.index-3 .kontakt-61bQiM {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 10px;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 1px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 39px;
}

.index-3 .kontakt-61bQiM:hover {
  opacity: 0;
}
@media screen and (max-width: 766px) {
  .screen.index { 
    display: none;
   }
  .screen.index-1 { 
    display: none;
   }
  .screen.index-2 { 
    display: none;
   }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .screen.index { 
    display: none;
   }
  .screen.index-1 { 
    display: none;
   }
  .screen.index-3 { 
    display: none;
   }
}
@media screen and (min-width: 1200px) and (max-width: 1899px) {
  .screen.index { 
    display: none;
   }
  .screen.index-2 { 
    display: none;
   }
  .screen.index-3 { 
    display: none;
   }
}
@media screen and (min-width: 1900px) {
  .screen.index-1 { 
    display: none;
   }
  .screen.index-2 { 
    display: none;
   }
  .screen.index-3 { 
    display: none;
   }
}