/* screen - ueberuns-1200 */

.ueberuns-1200 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1520px;
  min-width: 1200px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.ueberuns-1200 .detailed_elegant_mar-wMlWMv {
  background-color: transparent;
  height: calc(100.00% - 44px);
  left: -384px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 884px);
}

.ueberuns-1200 .rechteck-335-wMlWMv {
  background-color: var(--white);
  display: block;
  height: 761px;
  left: calc(50.00% - 279px);
  opacity: 0;
  position: absolute;
  top: 187px;
  width: 558px;
}

.ueberuns-1200 .rechteck-335-wMlWMv.bp3-animate-enter62 {
  animation: bp3-animate-enter62-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter62-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-1200 .ueber-uns-wMlWMv {
  background-color: transparent;
  display: block;
  height: 714px;
  left: 0px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 211px;
  width: 100%;
}

.ueberuns-1200 .ueber-uns-wMlWMv.bp3-animate-enter63 {
  animation: bp3-animate-enter63-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter63-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-1200 .wunderkind-original-wMlWMv {
  background-color: transparent;
  display: block;
  height: 49px;
  left: calc(30.02% - 133px);
  letter-spacing: 0.00px;
  line-height: 27px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: calc(18.38% - 9px);
  width: 444px;
}

.ueberuns-1200 .wunderkind-original-wMlWMv.bp3-animate-enter64 {
  animation: bp3-animate-enter64-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter64-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-1200 .was-ist-ein-wunderki-wMlWMv {
  background-color: transparent;
  display: block;
  height: 403px;
  left: calc(36.41% - 256px);
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: calc(34.02% - 137px);
  width: 703px;
}

.ueberuns-1200 .was-ist-ein-wunderki-wMlWMv.bp3-animate-enter65 {
  animation: bp3-animate-enter65-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter65-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-1200 .linie-39-wMlWMv {
  background-color: transparent;
  bottom: 32.46%;
  display: block;
  height: 1px;
  left: calc(50.00% - 382px);
  object-fit: cover;
  opacity: 0;
  position: absolute;
  width: 763px;
}

.ueberuns-1200 .linie-39-wMlWMv.bp3-animate-enter66 {
  animation: bp3-animate-enter66-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter66-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-1200 .gruppe-271-wMlWMv {
  background-color: transparent;
  bottom: calc(22.90% - 15px);
  display: block;
  height: 66px;
  left: calc(36.43% - 29px);
  opacity: 0;
  position: absolute;
  width: 79px;
}

.ueberuns-1200 .gruppe-271-wMlWMv.bp3-animate-enter67 {
  animation: bp3-animate-enter67-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter67-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-1200 .produkte-zcTwgS {
  background-color: transparent;
  height: 23px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 1px);
}

.ueberuns-1200 .edition-one-zcTwgS {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.ueberuns-1200 .gruppe-270-wMlWMv {
  background-color: transparent;
  bottom: 204px;
  display: block;
  height: 195px;
  left: 218px;
  opacity: 0;
  position: absolute;
  width: 108px;
}

.ueberuns-1200 .gruppe-270-wMlWMv.bp3-animate-enter68 {
  animation: bp3-animate-enter68-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter68-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-1200 .recht-0oY31Y {
  background-color: transparent;
  height: 23px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 51px;
}

.ueberuns-1200 .datenschutz-0oY31Y {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: calc(28.29% - 6px);
  white-space: nowrap;
  width: 89px;
}

.ueberuns-1200 .impressum-0oY31Y {
  background-color: transparent;
  bottom: calc(47.14% - 9px);
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 78px;
}

.ueberuns-1200 .ag-bs-0oY31Y {
  background-color: transparent;
  bottom: calc(22.57% - 5px);
  cursor: pointer;
  height: 20px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 43px;
}

.ueberuns-1200 .widerrufsrecht-0oY31Y {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.ueberuns-1200 .rechteck-331-wMlWMv {
  background-color: var(--licorice);
  bottom: 0px;
  display: block;
  height: 44px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.ueberuns-1200 .rechteck-331-wMlWMv.bp3-animate-enter69 {
  animation: bp3-animate-enter69-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter69-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-1200 .wunderkind-original-6r6zpB {
  background-color: transparent;
  bottom: 11px;
  display: block;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 12px;
  opacity: 0;
  position: absolute;
  right: calc(49.89% - 162px);
  text-align: left;
  width: 324px;
}

.ueberuns-1200 .wunderkind-original-6r6zpB.bp3-animate-enter70 {
  animation: bp3-animate-enter70-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter70-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-1200 .wko_white_transparent-wMlWMv {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 202px;
  left: 160px;
  object-fit: cover;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: -15px;
  transform: translate(-25px, 0);
  transition: all 1s ease;
  width: 269px;
}

.ueberuns-1200 .wko_white_transparent-wMlWMv.bp3-animate-enter71 {
  animation: bp3-animate-enter71-frames 0.30s linear 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(-25px, 0);
}

@keyframes bp3-animate-enter71-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ueberuns-1200 .wko_white_transparent-wMlWMv:hover {
  transform: scale(1.1);
}

.ueberuns-1200 .gruppe-268-wMlWMv {
  background-color: transparent;
  height: 21px;
  position: absolute;
  right: calc(21.53% - 74px);
  top: 86px;
  width: 345px;
}

.ueberuns-1200 .produkte-VUQ9s3 {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 75px;
}

.ueberuns-1200 .produkte-VUQ9s3:hover {
  opacity: 0;
}

.ueberuns-1200 .ber-uns-VUQ9s3 {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  right: calc(48.32% - 36px);
  text-align: left;
  top: 2px;
  transition: all 0.9s ease;
  white-space: nowrap;
  width: 75px;
}

.ueberuns-1200 .ber-uns-VUQ9s3:hover {
  opacity: 0;
}

.ueberuns-1200 .kontakt-VUQ9s3 {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 2px;
  transition: all 0.9s ease;
  white-space: nowrap;
  width: 68px;
}

.ueberuns-1200 .kontakt-VUQ9s3:hover {
  opacity: 0;
}

.ueberuns-1200 .gruppe-273-wMlWMv {
  background-color: transparent;
  bottom: 62px;
  display: block;
  height: 23px;
  left: calc(50.00% - 39px);
  opacity: 0;
  position: absolute;
  width: 78px;
}

.ueberuns-1200 .gruppe-273-wMlWMv.bp3-animate-enter72 {
  animation: bp3-animate-enter72-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter72-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-1200 .iconfinder_icon-social-facebook_211902-NlkeDM {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 12px;
}

.ueberuns-1200 .comp_x5-f_173-instagram-NlkeDM {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 23px;
}

.ueberuns-1200 .gruppe-251-EoGQou {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.ueberuns-1200 .pfad-302-FseD8X {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
/* screen - ueberuns-1900 */

.ueberuns-1900 {
  background-color: var(--white);
  height: 1520px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1900px;
}

.ueberuns-1900 .detailed_elegant_mar-Dj5lUm {
  background-color: transparent;
  height: 2291px;
  left: -564px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 3234px;
}

.ueberuns-1900 .rechteck-335-Dj5lUm {
  background-color: var(--white);
  display: block;
  height: 761px;
  left: 321px;
  opacity: 0;
  position: absolute;
  top: 187px;
  width: 1278px;
}

.ueberuns-1900 .rechteck-335-Dj5lUm.bp4-animate-enter83 {
  animation: bp4-animate-enter83-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter83-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-1900 .ueber-uns-Dj5lUm {
  background-color: transparent;
  display: block;
  height: 760px;
  left: 321px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 188px;
  width: 1278px;
}

.ueberuns-1900 .ueber-uns-Dj5lUm.bp4-animate-enter84 {
  animation: bp4-animate-enter84-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter84-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-1900 .wunderkind-original-Dj5lUm {
  background-color: transparent;
  display: block;
  height: 49px;
  left: 442px;
  letter-spacing: 0.00px;
  line-height: 27px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 251px;
  width: 444px;
}

.ueberuns-1900 .wunderkind-original-Dj5lUm.bp4-animate-enter85 {
  animation: bp4-animate-enter85-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter85-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-1900 .was-ist-ein-wunderki-Dj5lUm {
  background-color: transparent;
  display: block;
  height: 403px;
  left: 442px;
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 382px;
  width: 703px;
}

.ueberuns-1900 .was-ist-ein-wunderki-Dj5lUm.bp4-animate-enter86 {
  animation: bp4-animate-enter86-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter86-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-1900 .linie-39-Dj5lUm {
  background-color: transparent;
  display: block;
  height: 1px;
  left: 340px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 1026px;
  width: 1241px;
}

.ueberuns-1900 .linie-39-Dj5lUm.bp4-animate-enter87 {
  animation: bp4-animate-enter87-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter87-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-1900 .gruppe-265-Dj5lUm {
  background-color: transparent;
  display: block;
  height: 66px;
  left: 556px;
  opacity: 0;
  position: absolute;
  top: 1121px;
  width: 81px;
}

.ueberuns-1900 .gruppe-265-Dj5lUm.bp4-animate-enter88 {
  animation: bp4-animate-enter88-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter88-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-1900 .produkte-5WjVev {
  background-color: transparent;
  height: 23px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: calc(3.49% - 1px);
  white-space: nowrap;
  width: 78px;
}

.ueberuns-1900 .edition-one-5WjVev {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: calc(107.61% - 22px);
  white-space: nowrap;
  width: 81px;
}

.ueberuns-1900 .gruppe-264-Dj5lUm {
  background-color: transparent;
  display: block;
  height: 195px;
  left: 336px;
  opacity: 0;
  position: absolute;
  top: 1121px;
  width: 109px;
}

.ueberuns-1900 .gruppe-264-Dj5lUm.bp4-animate-enter89 {
  animation: bp4-animate-enter89-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter89-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-1900 .recht-hWrHPV {
  background-color: transparent;
  height: 23px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 0.87%;
  white-space: nowrap;
  width: 51px;
}

.ueberuns-1900 .datenschutz-hWrHPV {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 0.22%;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: calc(28.29% - 6px);
  white-space: nowrap;
  width: 89px;
}

.ueberuns-1900 .impressum-hWrHPV {
  background-color: transparent;
  bottom: 82px;
  cursor: pointer;
  height: 20px;
  left: 0.21%;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 78px;
}

.ueberuns-1900 .ag-bs-hWrHPV {
  background-color: transparent;
  bottom: 40px;
  cursor: pointer;
  height: 20px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 43px;
}

.ueberuns-1900 .widerrufsrecht-hWrHPV {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 109px;
}

.ueberuns-1900 .rechteck-331-Dj5lUm {
  background-color: var(--licorice);
  display: block;
  height: 44px;
  left: 10px;
  opacity: 0;
  position: absolute;
  top: 1476px;
  width: 1900px;
}

.ueberuns-1900 .rechteck-331-Dj5lUm.bp4-animate-enter90 {
  animation: bp4-animate-enter90-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter90-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-1900 .wunderkind-original-KxzANG {
  background-color: transparent;
  display: block;
  height: 20px;
  left: 763px;
  letter-spacing: 0.00px;
  line-height: 15px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1495px;
  width: 376px;
}

.ueberuns-1900 .wunderkind-original-KxzANG.bp4-animate-enter91 {
  animation: bp4-animate-enter91-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter91-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-1900 .wko_white_transparent-Dj5lUm {
  background-color: transparent;
  cursor: pointer;
  height: 202px;
  left: 252px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: -15px;
  transition: all 1s ease;
  width: 269px;
}

.ueberuns-1900 .wko_white_transparent-Dj5lUm:hover {
  transform: scale(1.1);
}

.ueberuns-1900 .gruppe-267-Dj5lUm {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 903px;
  opacity: 0;
  position: absolute;
  top: 1424px;
  width: 94px;
}

.ueberuns-1900 .gruppe-267-Dj5lUm.bp4-animate-enter92 {
  animation: bp4-animate-enter92-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter92-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-1900 .iconfinder_icon-social-facebook_211902-iyPzP4 {
  background-color: transparent;
  bottom: 0px;
  cursor: pointer;
  height: 23px;
  object-fit: cover;
  position: absolute;
  right: calc(100.00% - 12px);
  width: 12px;
}

.ueberuns-1900 .comp_x5-f_173-instagram-iyPzP4 {
  background-color: transparent;
  bottom: 1px;
  cursor: pointer;
  height: 23px;
  position: absolute;
  right: 0px;
  width: 23px;
}

.ueberuns-1900 .gruppe-251-XbcY1x {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.ueberuns-1900 .pfad-302-4Sxs7Z {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.ueberuns-1900 .gruppe-262-Dj5lUm {
  background-color: transparent;
  height: 21px;
  left: 1087px;
  position: absolute;
  top: 86px;
  width: 434px;
}

.ueberuns-1900 .produkte-XMzW5h {
  background-color: transparent;
  cursor: pointer;
  height: 23px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 2s ease;
  white-space: nowrap;
  width: 75px;
}

.ueberuns-1900 .produkte-XMzW5h:hover {
  opacity: 0;
}

.ueberuns-1900 .ber-uns-XMzW5h {
  background-color: transparent;
  cursor: pointer;
  height: 23px;
  left: calc(48.48% - 36px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 2s ease;
  white-space: nowrap;
  width: 75px;
}

.ueberuns-1900 .ber-uns-XMzW5h:hover {
  opacity: 0;
}

.ueberuns-1900 .kontakt-XMzW5h {
  background-color: transparent;
  cursor: pointer;
  height: 23px;
  left: calc(100.55% - 68px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 2s ease;
  white-space: nowrap;
  width: 68px;
}

.ueberuns-1900 .kontakt-XMzW5h:hover {
  opacity: 0;
}
/* screen - ueberuns-375 */

.ueberuns-375 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1520px;
  min-width: 375px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.ueberuns-375 .detailed_elegant_mar-r3gqbf {
  background-color: transparent;
  height: 100%;
  left: -867px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 1771px);
}

.ueberuns-375 .rechteck-335-r3gqbf {
  background-color: var(--white);
  display: block;
  height: 761px;
  left: calc(50.00% - 83px);
  opacity: 0;
  position: absolute;
  top: 187px;
  width: 166px;
}

.ueberuns-375 .rechteck-335-r3gqbf.bp1-animate-enter71 {
  animation: bp1-animate-enter71-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter71-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-375 .ueber-uns-r3gqbf {
  background-color: transparent;
  display: block;
  height: 776px;
  left: -681px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 211px;
  width: calc(100.00% + 929px);
}

.ueberuns-375 .ueber-uns-r3gqbf.bp1-animate-enter72 {
  animation: bp1-animate-enter72-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter72-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-375 .wunderkind-original-r3gqbf {
  background-color: transparent;
  display: block;
  height: 49px;
  left: 12.00%;
  letter-spacing: 0.00px;
  line-height: 27px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: calc(19.31% - 9px);
  width: 444px;
}

.ueberuns-375 .wunderkind-original-r3gqbf.bp1-animate-enter73 {
  animation: bp1-animate-enter73-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter73-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-375 .was-ist-ein-wunderki-r3gqbf {
  background-color: transparent;
  display: block;
  height: 516px;
  letter-spacing: 0.00px;
  line-height: 28px;
  opacity: 0;
  position: absolute;
  right: calc(39.19% - 118px);
  text-align: left;
  top: calc(39.09% - 202px);
  width: 301px;
}

.ueberuns-375 .was-ist-ein-wunderki-r3gqbf.bp1-animate-enter74 {
  animation: bp1-animate-enter74-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter74-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-375 .gruppe-285-r3gqbf {
  background-color: transparent;
  bottom: 334px;
  display: block;
  height: 60px;
  left: calc(48.66% - 27px);
  opacity: 0;
  position: absolute;
  width: 56px;
}

.ueberuns-375 .gruppe-285-r3gqbf.bp1-animate-enter75 {
  animation: bp1-animate-enter75-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter75-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-375 .produkte-zVAH28 {
  background-color: transparent;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 3px);
}

.ueberuns-375 .edition-one-zVAH28 {
  background-color: transparent;
  bottom: -3px;
  cursor: pointer;
  height: 14px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.ueberuns-375 .gruppe-284-r3gqbf {
  background-color: transparent;
  bottom: 247px;
  display: block;
  height: 147px;
  left: 57px;
  opacity: 0;
  position: absolute;
  width: 75px;
}

.ueberuns-375 .gruppe-284-r3gqbf.bp1-animate-enter76 {
  animation: bp1-animate-enter76-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter76-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-375 .recht-VbWHlt {
  background-color: transparent;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 34px;
}

.ueberuns-375 .datenschutz-VbWHlt {
  background-color: transparent;
  cursor: pointer;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: calc(36.84% - 5px);
  white-space: nowrap;
  width: 63px;
}

.ueberuns-375 .impressum-VbWHlt {
  background-color: transparent;
  bottom: calc(41.35% - 6px);
  cursor: pointer;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 55px;
}

.ueberuns-375 .ag-bs-VbWHlt {
  background-color: transparent;
  bottom: calc(19.55% - 3px);
  cursor: pointer;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 31px;
}

.ueberuns-375 .widerrufsrecht-VbWHlt {
  background-color: transparent;
  bottom: -3px;
  cursor: pointer;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.ueberuns-375 .rechteck-331-r3gqbf {
  background-color: var(--licorice);
  bottom: 0px;
  display: block;
  height: 44px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.ueberuns-375 .rechteck-331-r3gqbf.bp1-animate-enter77 {
  animation: bp1-animate-enter77-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter77-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-375 .wunderkind-original-Ef0p2E {
  background-color: transparent;
  bottom: 7px;
  display: block;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 7px;
  opacity: 0;
  position: absolute;
  right: calc(49.44% - 98px);
  text-align: left;
  width: 198px;
}

.ueberuns-375 .wunderkind-original-Ef0p2E.bp1-animate-enter78 {
  animation: bp1-animate-enter78-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter78-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-375 .linie-39-r3gqbf {
  background-color: transparent;
  bottom: 31.02%;
  display: block;
  height: 1px;
  left: calc(50.00% - 150px);
  object-fit: cover;
  opacity: 0;
  position: absolute;
  width: 301px;
}

.ueberuns-375 .linie-39-r3gqbf.bp1-animate-enter79 {
  animation: bp1-animate-enter79-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter79-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-375 .wko_white_transparent-r3gqbf {
  background-color: transparent;
  cursor: pointer;
  height: 120px;
  left: -17px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: -6px;
  transition: all 1s ease;
  width: 160px;
}

.ueberuns-375 .wko_white_transparent-r3gqbf:hover {
  transform: scale(1.1);
}

.ueberuns-375 .gruppe-280-r3gqbf {
  background-color: transparent;
  height: 12px;
  position: absolute;
  right: calc(15.64% - 31px);
  top: 60px;
  width: 196px;
}

.ueberuns-375 .produkte-oc8W5W {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 1px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 46px;
}

.ueberuns-375 .produkte-oc8W5W:hover {
  opacity: 0;
}

.ueberuns-375 .ber-uns-oc8W5W {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 10px;
  pointer-events: auto;
  position: absolute;
  right: calc(47.90% - 22px);
  text-align: left;
  top: 1px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 46px;
}

.ueberuns-375 .ber-uns-oc8W5W:hover {
  opacity: 0;
}

.ueberuns-375 .kontakt-oc8W5W {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 10px;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 1px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 42px;
}

.ueberuns-375 .kontakt-oc8W5W:hover {
  opacity: 0;
}

.ueberuns-375 .gruppe-282-r3gqbf {
  background-color: transparent;
  bottom: 53px;
  display: block;
  height: 19px;
  left: calc(50.00% - 25px);
  opacity: 0;
  position: absolute;
  width: 51px;
}

.ueberuns-375 .gruppe-282-r3gqbf.bp1-animate-enter80 {
  animation: bp1-animate-enter80-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter80-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-375 .iconfinder_icon-social-facebook_211902-sW5Ad4 {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 9px;
}

.ueberuns-375 .comp_x5-f_173-instagram-sW5Ad4 {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 19px;
}

.ueberuns-375 .gruppe-251-lvmV6j {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.ueberuns-375 .pfad-302-sGCth8 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
/* screen - ueberuns-767 */

.ueberuns-767 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1520px;
  min-width: 767px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.ueberuns-767 .detailed_elegant_mar-NgWNz5 {
  background-color: transparent;
  height: calc(100.00% - 44px);
  left: -621px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 1317px);
}

.ueberuns-767 .rechteck-335-NgWNz5 {
  background-color: var(--white);
  display: block;
  height: 761px;
  left: 104px;
  opacity: 0;
  position: absolute;
  top: 187px;
  width: calc(100.00% - 209px);
}

.ueberuns-767 .rechteck-335-NgWNz5.bp2-animate-enter73 {
  animation: bp2-animate-enter73-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter73-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-767 .ueber-uns-NgWNz5 {
  background-color: transparent;
  display: block;
  height: 776px;
  left: -537px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 211px;
  width: calc(100.00% + 537px);
}

.ueberuns-767 .ueber-uns-NgWNz5.bp2-animate-enter74 {
  animation: bp2-animate-enter74-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter74-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-767 .wunderkind-original-NgWNz5 {
  background-color: transparent;
  display: block;
  height: 49px;
  left: calc(30.09% - 134px);
  letter-spacing: 0.00px;
  line-height: 27px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: calc(19.31% - 9px);
  width: 444px;
}

.ueberuns-767 .wunderkind-original-NgWNz5.bp2-animate-enter75 {
  animation: bp2-animate-enter75-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter75-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-767 .was-ist-ein-wunderki-NgWNz5 {
  background-color: transparent;
  display: block;
  height: 403px;
  left: calc(48.53% - 306px);
  letter-spacing: 0.00px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: calc(35.27% - 142px);
  width: 631px;
}

.ueberuns-767 .was-ist-ein-wunderki-NgWNz5.bp2-animate-enter76 {
  animation: bp2-animate-enter76-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter76-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-767 .linie-39-NgWNz5 {
  background-color: transparent;
  bottom: 32.46%;
  display: block;
  height: 1px;
  left: calc(50.00% - 254px);
  object-fit: cover;
  opacity: 0;
  position: absolute;
  width: 509px;
}

.ueberuns-767 .linie-39-NgWNz5.bp2-animate-enter77 {
  animation: bp2-animate-enter77-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter77-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-767 .gruppe-277-NgWNz5 {
  background-color: transparent;
  bottom: calc(22.90% - 15px);
  display: block;
  height: 66px;
  left: calc(36.43% - 29px);
  opacity: 0;
  position: absolute;
  width: 79px;
}

.ueberuns-767 .gruppe-277-NgWNz5.bp2-animate-enter78 {
  animation: bp2-animate-enter78-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter78-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-767 .produkte-G27pC1 {
  background-color: transparent;
  height: 23px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 1px);
}

.ueberuns-767 .edition-one-G27pC1 {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.ueberuns-767 .gruppe-276-NgWNz5 {
  background-color: transparent;
  bottom: 204px;
  display: block;
  height: 195px;
  left: 132px;
  opacity: 0;
  position: absolute;
  width: 107px;
}

.ueberuns-767 .gruppe-276-NgWNz5.bp2-animate-enter79 {
  animation: bp2-animate-enter79-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter79-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-767 .recht-7c9SgT {
  background-color: transparent;
  height: 23px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 51px;
}

.ueberuns-767 .datenschutz-7c9SgT {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: calc(28.29% - 6px);
  white-space: nowrap;
  width: 89px;
}

.ueberuns-767 .impressum-7c9SgT {
  background-color: transparent;
  bottom: calc(47.14% - 9px);
  cursor: pointer;
  height: 20px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 78px;
}

.ueberuns-767 .ag-bs-7c9SgT {
  background-color: transparent;
  bottom: calc(22.57% - 5px);
  cursor: pointer;
  height: 20px;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 43px;
}

.ueberuns-767 .widerrufsrecht-7c9SgT {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.ueberuns-767 .rechteck-331-NgWNz5 {
  background-color: var(--licorice);
  bottom: 0px;
  display: block;
  height: 44px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.ueberuns-767 .rechteck-331-NgWNz5.bp2-animate-enter80 {
  animation: bp2-animate-enter80-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter80-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-767 .wunderkind-original-zGxVix {
  background-color: transparent;
  bottom: 6px;
  display: block;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 10px;
  opacity: 0;
  position: absolute;
  right: calc(48.25% - 136px);
  text-align: left;
  width: 281px;
}

.ueberuns-767 .wunderkind-original-zGxVix.bp2-animate-enter81 {
  animation: bp2-animate-enter81-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter81-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-767 .wko_white_transparent-NgWNz5 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 202px;
  left: 45px;
  object-fit: cover;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: -15px;
  transform: translate(-25px, 0);
  transition: all 1s ease;
  width: 269px;
}

.ueberuns-767 .wko_white_transparent-NgWNz5.bp2-animate-enter82 {
  animation: bp2-animate-enter82-frames 0.30s linear 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(-25px, 0);
}

@keyframes bp2-animate-enter82-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.ueberuns-767 .wko_white_transparent-NgWNz5:hover {
  transform: scale(1.1);
}

.ueberuns-767 .gruppe-274-NgWNz5 {
  background-color: transparent;
  height: 21px;
  position: absolute;
  right: calc(17.86% - 54px);
  top: 86px;
  width: 305px;
}

.ueberuns-767 .produkte-phqU2V {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 75px;
}

.ueberuns-767 .produkte-phqU2V:hover {
  opacity: 0;
}

.ueberuns-767 .ber-uns-phqU2V {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  right: calc(48.04% - 36px);
  text-align: left;
  top: 2px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 75px;
}

.ueberuns-767 .ber-uns-phqU2V:hover {
  opacity: 0;
}

.ueberuns-767 .kontakt-phqU2V {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 2px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 68px;
}

.ueberuns-767 .kontakt-phqU2V:hover {
  opacity: 0;
}

.ueberuns-767 .gruppe-279-NgWNz5 {
  background-color: transparent;
  bottom: 60px;
  display: block;
  height: 19px;
  left: calc(50.00% - 25px);
  opacity: 0;
  position: absolute;
  width: 49px;
}

.ueberuns-767 .gruppe-279-NgWNz5.bp2-animate-enter83 {
  animation: bp2-animate-enter83-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter83-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.ueberuns-767 .iconfinder_icon-social-facebook_211902-m9P0xh {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 9px;
}

.ueberuns-767 .comp_x5-f_173-instagram-m9P0xh {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 1px;
  width: 19px;
}

.ueberuns-767 .gruppe-251-ZWzg58 {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.ueberuns-767 .pfad-302-udOX6S {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
@media screen and (max-width: 766px) {
  .screen.ueberuns-1900 { 
    display: none;
   }
  .screen.ueberuns-767 { 
    display: none;
   }
  .screen.ueberuns-1200 { 
    display: none;
   }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .screen.ueberuns-1900 { 
    display: none;
   }
  .screen.ueberuns-375 { 
    display: none;
   }
  .screen.ueberuns-1200 { 
    display: none;
   }
}
@media screen and (min-width: 1200px) and (max-width: 1899px) {
  .screen.ueberuns-1900 { 
    display: none;
   }
  .screen.ueberuns-375 { 
    display: none;
   }
  .screen.ueberuns-767 { 
    display: none;
   }
}
@media screen and (min-width: 1900px) {
  .screen.ueberuns-375 { 
    display: none;
   }
  .screen.ueberuns-767 { 
    display: none;
   }
  .screen.ueberuns-1200 { 
    display: none;
   }
}