/* screen - widerrufsrecht */

.widerrufsrecht {
  background-color: var(--white);
  height: 1700px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1900px;
}

.widerrufsrecht .detailed_elegant_mar-xfSbVy {
  background-color: transparent;
  height: 4803px;
  left: -2337px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 6780px;
}

.widerrufsrecht .widerrufsrecht-sie-h-xfSbVy {
  background-color: transparent;
  display: block;
  height: 715px;
  left: 431px;
  letter-spacing: 0.00px;
  line-height: 28px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 251px;
  width: 1040px;
}

.widerrufsrecht .widerrufsrecht-sie-h-xfSbVy.bp4-animate-enter87 {
  animation: bp4-animate-enter87-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter87-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht .linie-42-xfSbVy {
  background-color: transparent;
  display: block;
  height: 1px;
  left: 330px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 1209px;
  width: 1241px;
}

.widerrufsrecht .linie-42-xfSbVy.bp4-animate-enter88 {
  animation: bp4-animate-enter88-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter88-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht .rechteck-337-xfSbVy {
  background-color: var(--licorice);
  display: block;
  height: 44px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 1659px;
  width: 1900px;
}

.widerrufsrecht .rechteck-337-xfSbVy.bp4-animate-enter89 {
  animation: bp4-animate-enter89-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter89-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht .wunderkind-original-xfSbVy {
  background-color: transparent;
  display: block;
  height: auto;
  left: 763px;
  letter-spacing: 0.00px;
  line-height: 15px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 1674px;
  white-space: nowrap;
  width: auto;
}

.widerrufsrecht .wunderkind-original-xfSbVy.bp4-animate-enter90 {
  animation: bp4-animate-enter90-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter90-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht .gruppe-306-xfSbVy {
  background-color: transparent;
  display: block;
  height: 23px;
  left: 903px;
  opacity: 0;
  position: absolute;
  top: 1602px;
  width: 94px;
}

.widerrufsrecht .gruppe-306-xfSbVy.bp4-animate-enter91 {
  animation: bp4-animate-enter91-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter91-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht .iconfinder_icon-social-facebook_211902-C3F3gF {
  background-color: transparent;
  bottom: 0px;
  cursor: pointer;
  height: 23px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 12px;
}

.widerrufsrecht .comp_x5-f_173-instagram-C3F3gF {
  background-color: transparent;
  bottom: 1px;
  cursor: pointer;
  height: 23px;
  position: absolute;
  right: 0px;
  width: 23px;
}

.widerrufsrecht .gruppe-251-knJAhw {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.widerrufsrecht .pfad-302-4JQwx2 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.widerrufsrecht .wko_white_transparent-xfSbVy {
  background-color: transparent;
  cursor: pointer;
  height: 202px;
  left: 252px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: -15px;
  transition: all 1s ease;
  width: 269px;
}

.widerrufsrecht .wko_white_transparent-xfSbVy:hover {
  transform: scale(1.1);
}

.widerrufsrecht .gruppe-265-xfSbVy {
  background-color: transparent;
  display: block;
  height: 68px;
  left: 549px;
  opacity: 0;
  position: absolute;
  top: 1286px;
  width: 82px;
}

.widerrufsrecht .gruppe-265-xfSbVy.bp4-animate-enter92 {
  animation: bp4-animate-enter92-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter92-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht .produkte-2DmJZc {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: calc(4.55% - 1px);
  white-space: nowrap;
  width: 79px;
}

.widerrufsrecht .edition-one-2DmJZc {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: calc(107.29% - 21px);
  white-space: nowrap;
  width: 82px;
}

.widerrufsrecht .gruppe-264-xfSbVy {
  background-color: transparent;
  display: block;
  height: 197px;
  left: 330px;
  opacity: 0;
  position: absolute;
  top: 1286px;
  width: 107px;
}

.widerrufsrecht .gruppe-264-xfSbVy.bp4-animate-enter93 {
  animation: bp4-animate-enter93-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp4-animate-enter93-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht .recht-LgpXvx {
  background-color: transparent;
  height: 24px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 1.16%;
  white-space: nowrap;
  width: 50px;
}

.widerrufsrecht .datenschutz-LgpXvx {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 0.20%;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: calc(29.10% - 6px);
  white-space: nowrap;
  width: 85px;
}

.widerrufsrecht .impressum-LgpXvx {
  background-color: transparent;
  bottom: 82px;
  cursor: pointer;
  height: 20px;
  left: 0.21%;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 75px;
}

.widerrufsrecht .ag-bs-LgpXvx {
  background-color: transparent;
  bottom: 40px;
  cursor: pointer;
  height: 20px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 41px;
}

.widerrufsrecht .widerrufsrecht-LgpXvx {
  background-color: transparent;
  bottom: -4px;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 107px;
}

.widerrufsrecht .gruppe-262-xfSbVy {
  background-color: transparent;
  height: 22px;
  left: 1087px;
  position: absolute;
  top: 86px;
  width: 435px;
}

.widerrufsrecht .produkte-ZRqY06 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 2s ease;
  white-space: nowrap;
  width: 74px;
}

.widerrufsrecht .produkte-ZRqY06:hover {
  opacity: 0;
}

.widerrufsrecht .ber-uns-ZRqY06 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: calc(48.35% - 36px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 2s ease;
  white-space: nowrap;
  width: 75px;
}

.widerrufsrecht .ber-uns-ZRqY06:hover {
  opacity: 0;
}

.widerrufsrecht .kontakt-ZRqY06 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: calc(100.55% - 69px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 2s ease;
  white-space: nowrap;
  width: 69px;
}

.widerrufsrecht .kontakt-ZRqY06:hover {
  opacity: 0;
}
/* screen - widerrufsrecht-1 */

.widerrufsrecht-1 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1662px;
  min-width: 1200px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.widerrufsrecht-1 .detailed_elegant_mar-WoRhzf {
  background-color: transparent;
  height: calc(100.00% + 1653px);
  left: -1675px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% + 3480px);
}

.widerrufsrecht-1 .widerrufsrecht-sie-h-WoRhzf {
  background-color: transparent;
  display: block;
  height: 772px;
  left: 197px;
  letter-spacing: 0.00px;
  line-height: 23px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: calc(28.43% - 219px);
  width: calc(100.00% - 366px);
}

.widerrufsrecht-1 .widerrufsrecht-sie-h-WoRhzf.bp3-animate-enter79 {
  animation: bp3-animate-enter79-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter79-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht-1 .linie-39-WoRhzf {
  background-color: transparent;
  bottom: 29.56%;
  display: block;
  height: 1px;
  left: calc(50.00% - 382px);
  object-fit: cover;
  opacity: 0;
  position: absolute;
  width: 763px;
}

.widerrufsrecht-1 .linie-39-WoRhzf.bp3-animate-enter80 {
  animation: bp3-animate-enter80-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter80-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht-1 .rechteck-331-WoRhzf {
  background-color: var(--licorice);
  bottom: -2px;
  display: block;
  height: 44px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.widerrufsrecht-1 .rechteck-331-WoRhzf.bp3-animate-enter81 {
  animation: bp3-animate-enter81-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter81-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht-1 .wunderkind-original-WoRhzf {
  background-color: transparent;
  bottom: 12px;
  display: block;
  height: 16px;
  letter-spacing: 0.00px;
  line-height: 12px;
  opacity: 0;
  position: absolute;
  right: calc(49.89% - 150px);
  text-align: left;
  white-space: nowrap;
  width: 301px;
}

.widerrufsrecht-1 .wunderkind-original-WoRhzf.bp3-animate-enter82 {
  animation: bp3-animate-enter82-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter82-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht-1 .gruppe-273-WoRhzf {
  background-color: transparent;
  bottom: 63px;
  display: block;
  height: 23px;
  left: calc(50.00% - 39px);
  opacity: 0;
  position: absolute;
  width: 78px;
}

.widerrufsrecht-1 .gruppe-273-WoRhzf.bp3-animate-enter83 {
  animation: bp3-animate-enter83-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter83-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht-1 .iconfinder_icon-social-facebook_211902-v4oNif {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 12px;
}

.widerrufsrecht-1 .comp_x5-f_173-instagram-v4oNif {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 23px;
}

.widerrufsrecht-1 .gruppe-251-x1wcHG {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.widerrufsrecht-1 .pfad-302-CtWBUj {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}

.widerrufsrecht-1 .wko_white_transparent-WoRhzf {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 202px;
  left: 160px;
  object-fit: cover;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: -15px;
  transform: translate(-25px, 0);
  transition: all 1s ease;
  width: 269px;
}

.widerrufsrecht-1 .wko_white_transparent-WoRhzf.bp3-animate-enter84 {
  animation: bp3-animate-enter84-frames 0.30s linear 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(-25px, 0);
}

@keyframes bp3-animate-enter84-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.widerrufsrecht-1 .wko_white_transparent-WoRhzf:hover {
  transform: scale(1.1);
}

.widerrufsrecht-1 .gruppe-271-WoRhzf {
  background-color: transparent;
  bottom: calc(21.58% - 15px);
  display: block;
  height: 68px;
  left: calc(36.47% - 29px);
  opacity: 0;
  position: absolute;
  width: 80px;
}

.widerrufsrecht-1 .gruppe-271-WoRhzf.bp3-animate-enter85 {
  animation: bp3-animate-enter85-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter85-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht-1 .produkte-qV2d4u {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 1px);
}

.widerrufsrecht-1 .edition-one-qV2d4u {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.widerrufsrecht-1 .gruppe-270-WoRhzf {
  background-color: transparent;
  bottom: 215px;
  display: block;
  height: 197px;
  left: 218px;
  opacity: 0;
  position: absolute;
  width: 106px;
}

.widerrufsrecht-1 .gruppe-270-WoRhzf.bp3-animate-enter86 {
  animation: bp3-animate-enter86-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp3-animate-enter86-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht-1 .recht-9hoaoc {
  background-color: transparent;
  height: 24px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 50px;
}

.widerrufsrecht-1 .datenschutz-9hoaoc {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: calc(29.10% - 6px);
  white-space: nowrap;
  width: 85px;
}

.widerrufsrecht-1 .impressum-9hoaoc {
  background-color: transparent;
  bottom: calc(46.61% - 9px);
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 75px;
}

.widerrufsrecht-1 .ag-bs-9hoaoc {
  background-color: transparent;
  bottom: calc(22.32% - 4px);
  cursor: pointer;
  height: 20px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 41px;
}

.widerrufsrecht-1 .widerrufsrecht-9hoaoc {
  background-color: transparent;
  bottom: -4px;
  height: 20px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.widerrufsrecht-1 .gruppe-268-WoRhzf {
  background-color: transparent;
  height: 22px;
  position: absolute;
  right: calc(21.43% - 74px);
  top: 86px;
  width: 346px;
}

.widerrufsrecht-1 .produkte-K4fX2e {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 74px;
}

.widerrufsrecht-1 .produkte-K4fX2e:hover {
  opacity: 0;
}

.widerrufsrecht-1 .ber-uns-K4fX2e {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  right: calc(48.51% - 36px);
  text-align: left;
  top: 2px;
  transition: all 0.9s ease;
  white-space: nowrap;
  width: 75px;
}

.widerrufsrecht-1 .ber-uns-K4fX2e:hover {
  opacity: 0;
}

.widerrufsrecht-1 .kontakt-K4fX2e {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 2px;
  transition: all 0.9s ease;
  white-space: nowrap;
  width: 69px;
}

.widerrufsrecht-1 .kontakt-K4fX2e:hover {
  opacity: 0;
}
/* screen - widerrufsrecht-2 */

.widerrufsrecht-2 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1958px;
  min-width: 767px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.widerrufsrecht-2 .detailed_elegant_mar-ey6GVY {
  background-color: transparent;
  height: 302.26%;
  left: -489.27%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1089.38%;
}

.widerrufsrecht-2 .widerrufsrecht-sie-h-ey6GVY {
  background-color: transparent;
  display: block;
  height: 987px;
  left: 115px;
  letter-spacing: 0.00px;
  line-height: 23px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 252px;
  width: calc(100.00% - 226px);
}

.widerrufsrecht-2 .widerrufsrecht-sie-h-ey6GVY.bp2-animate-enter89 {
  animation: bp2-animate-enter89-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter89-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht-2 .linie-39-ey6GVY {
  background-color: transparent;
  bottom: 25.15%;
  display: block;
  height: 1px;
  left: calc(50.00% - 254px);
  object-fit: cover;
  opacity: 0;
  position: absolute;
  width: 509px;
}

.widerrufsrecht-2 .linie-39-ey6GVY.bp2-animate-enter90 {
  animation: bp2-animate-enter90-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter90-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht-2 .gruppe-279-ey6GVY {
  background-color: transparent;
  bottom: 69px;
  display: block;
  height: 19px;
  left: calc(50.00% - 25px);
  opacity: 0;
  position: absolute;
  width: 49px;
}

.widerrufsrecht-2 .gruppe-279-ey6GVY.bp2-animate-enter91 {
  animation: bp2-animate-enter91-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter91-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht-2 .iconfinder_icon-social-facebook_211902-sVEQAB {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 9px;
}

.widerrufsrecht-2 .comp_x5-f_173-instagram-sVEQAB {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 1px;
  width: 19px;
}

.widerrufsrecht-2 .gruppe-251-ZtRx4M {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.widerrufsrecht-2 .pfad-302-PL8BKy {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.widerrufsrecht-2 .rechteck-331-ey6GVY {
  background-color: var(--licorice);
  bottom: -1px;
  display: block;
  height: 44px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.widerrufsrecht-2 .rechteck-331-ey6GVY.bp2-animate-enter92 {
  animation: bp2-animate-enter92-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter92-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht-2 .wunderkind-original-ey6GVY {
  background-color: transparent;
  bottom: 10px;
  display: block;
  height: 14px;
  letter-spacing: 0.00px;
  line-height: 10px;
  opacity: 0;
  position: absolute;
  right: calc(49.81% - 125px);
  text-align: left;
  white-space: nowrap;
  width: 251px;
}

.widerrufsrecht-2 .wunderkind-original-ey6GVY.bp2-animate-enter93 {
  animation: bp2-animate-enter93-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter93-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht-2 .wko_white_transparent-ey6GVY {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 202px;
  left: 45px;
  object-fit: cover;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: -15px;
  transform: translate(-25px, 0);
  transition: all 1s ease;
  width: 269px;
}

.widerrufsrecht-2 .wko_white_transparent-ey6GVY.bp2-animate-enter94 {
  animation: bp2-animate-enter94-frames 0.30s linear 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(-25px, 0);
}

@keyframes bp2-animate-enter94-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.widerrufsrecht-2 .wko_white_transparent-ey6GVY:hover {
  transform: scale(1.1);
}

.widerrufsrecht-2 .gruppe-277-ey6GVY {
  background-color: transparent;
  bottom: calc(18.84% - 13px);
  display: block;
  height: 68px;
  left: calc(36.02% - 29px);
  opacity: 0;
  position: absolute;
  width: 80px;
}

.widerrufsrecht-2 .gruppe-277-ey6GVY.bp2-animate-enter95 {
  animation: bp2-animate-enter95-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter95-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht-2 .produkte-wVYPvP {
  background-color: transparent;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 1px);
}

.widerrufsrecht-2 .edition-one-wVYPvP {
  background-color: transparent;
  bottom: -4px;
  cursor: pointer;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.widerrufsrecht-2 .gruppe-276-ey6GVY {
  background-color: transparent;
  bottom: 227px;
  display: block;
  height: 197px;
  left: 129px;
  opacity: 0;
  position: absolute;
  width: 105px;
}

.widerrufsrecht-2 .gruppe-276-ey6GVY.bp2-animate-enter96 {
  animation: bp2-animate-enter96-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter96-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht-2 .recht-iPKPt5 {
  background-color: transparent;
  height: 24px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 50px;
}

.widerrufsrecht-2 .datenschutz-iPKPt5 {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: calc(29.10% - 6px);
  white-space: nowrap;
  width: 85px;
}

.widerrufsrecht-2 .impressum-iPKPt5 {
  background-color: transparent;
  bottom: calc(46.61% - 9px);
  cursor: pointer;
  height: 20px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 75px;
}

.widerrufsrecht-2 .ag-bs-iPKPt5 {
  background-color: transparent;
  bottom: calc(22.32% - 4px);
  cursor: pointer;
  height: 20px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 41px;
}

.widerrufsrecht-2 .widerrufsrecht-iPKPt5 {
  background-color: transparent;
  bottom: -4px;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.widerrufsrecht-2 .gruppe-274-ey6GVY {
  background-color: transparent;
  height: 22px;
  position: absolute;
  right: calc(17.68% - 54px);
  top: 86px;
  width: 306px;
}

.widerrufsrecht-2 .produkte-S475xv {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 2px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 74px;
}

.widerrufsrecht-2 .produkte-S475xv:hover {
  opacity: 0;
}

.widerrufsrecht-2 .ber-uns-S475xv {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  right: calc(48.27% - 36px);
  text-align: left;
  top: 2px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 75px;
}

.widerrufsrecht-2 .ber-uns-S475xv:hover {
  opacity: 0;
}

.widerrufsrecht-2 .kontakt-S475xv {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 18px;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 2px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 69px;
}

.widerrufsrecht-2 .kontakt-S475xv:hover {
  opacity: 0;
}
/* screen - widerrufsrecht-3 */

.widerrufsrecht-3 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2669px;
  min-width: 375px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.widerrufsrecht-3 .detailed_elegant_mar-n9m2gq {
  background-color: transparent;
  height: 100.02%;
  left: -447.03%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1004.89%;
}

.widerrufsrecht-3 .widerrufsrecht-sie-h-n9m2gq {
  background-color: transparent;
  display: block;
  height: 1791px;
  left: 16.27%;
  letter-spacing: 0.00px;
  line-height: 21px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 9.39%;
  width: 68.00%;
}

.widerrufsrecht-3 .widerrufsrecht-sie-h-n9m2gq.bp1-animate-enter88 {
  animation: bp1-animate-enter88-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter88-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht-3 .linie-39-n9m2gq {
  background-color: transparent;
  bottom: 18.47%;
  display: block;
  height: 1px;
  left: calc(50.00% - 150px);
  object-fit: cover;
  opacity: 0;
  position: absolute;
  width: 301px;
}

.widerrufsrecht-3 .linie-39-n9m2gq.bp1-animate-enter89 {
  animation: bp1-animate-enter89-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter89-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht-3 .rechteck-331-n9m2gq {
  background-color: var(--licorice);
  bottom: 0px;
  display: block;
  height: 44px;
  left: 0px;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.widerrufsrecht-3 .rechteck-331-n9m2gq.bp1-animate-enter90 {
  animation: bp1-animate-enter90-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter90-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht-3 .wunderkind-original-n9m2gq {
  background-color: transparent;
  bottom: 14px;
  display: block;
  height: 11px;
  letter-spacing: 0.00px;
  line-height: 7px;
  opacity: 0;
  position: absolute;
  right: calc(49.49% - 88px);
  text-align: left;
  white-space: nowrap;
  width: 177px;
}

.widerrufsrecht-3 .wunderkind-original-n9m2gq.bp1-animate-enter91 {
  animation: bp1-animate-enter91-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter91-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht-3 .gruppe-282-n9m2gq {
  background-color: transparent;
  bottom: 60px;
  display: block;
  height: 19px;
  opacity: 0;
  position: absolute;
  right: calc(50.00% - 25px);
  width: 51px;
}

.widerrufsrecht-3 .gruppe-282-n9m2gq.bp1-animate-enter92 {
  animation: bp1-animate-enter92-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter92-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht-3 .iconfinder_icon-social-facebook_211902-vO43ak {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 9px;
}

.widerrufsrecht-3 .comp_x5-f_173-instagram-vO43ak {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 19px;
}

.widerrufsrecht-3 .gruppe-251-xaJ3lg {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.widerrufsrecht-3 .pfad-302-xLxSa7 {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.widerrufsrecht-3 .wko_white_transparent-n9m2gq {
  background-color: transparent;
  cursor: pointer;
  height: 120px;
  left: -17px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: -6px;
  transition: all 1s ease;
  width: 160px;
}

.widerrufsrecht-3 .wko_white_transparent-n9m2gq:hover {
  transform: scale(1.1);
}

.widerrufsrecht-3 .gruppe-285-n9m2gq {
  background-color: transparent;
  bottom: 340px;
  display: block;
  height: 61px;
  left: calc(42.22% - 23px);
  opacity: 0;
  position: absolute;
  width: 54px;
}

.widerrufsrecht-3 .gruppe-285-n9m2gq.bp1-animate-enter93 {
  animation: bp1-animate-enter93-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter93-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht-3 .produkte-ZkDkhR {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: calc(100.00% - 1px);
}

.widerrufsrecht-3 .edition-one-ZkDkhR {
  background-color: transparent;
  bottom: -3px;
  cursor: pointer;
  height: 14px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.widerrufsrecht-3 .gruppe-284-n9m2gq {
  background-color: transparent;
  bottom: 253px;
  display: block;
  height: 148px;
  left: 37px;
  opacity: 0;
  position: absolute;
  width: 70px;
}

.widerrufsrecht-3 .gruppe-284-n9m2gq.bp1-animate-enter94 {
  animation: bp1-animate-enter94-frames 0.50s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter94-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.widerrufsrecht-3 .recht-VCjdM8 {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: 34px;
}

.widerrufsrecht-3 .datenschutz-VCjdM8 {
  background-color: transparent;
  cursor: pointer;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  top: calc(37.31% - 5px);
  white-space: nowrap;
  width: 57px;
}

.widerrufsrecht-3 .impressum-VCjdM8 {
  background-color: transparent;
  bottom: calc(41.04% - 6px);
  cursor: pointer;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 51px;
}

.widerrufsrecht-3 .ag-bs-VCjdM8 {
  background-color: transparent;
  bottom: calc(19.40% - 3px);
  cursor: pointer;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 28px;
}

.widerrufsrecht-3 .widerrufsrecht-VCjdM8 {
  background-color: transparent;
  bottom: -3px;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.widerrufsrecht-3 .gruppe-280-n9m2gq {
  background-color: transparent;
  height: 12px;
  position: absolute;
  right: calc(17.03% - 33px);
  top: 61px;
  width: 193px;
}

.widerrufsrecht-3 .produkte-U3zqOy {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 10px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 1px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 42px;
}

.widerrufsrecht-3 .produkte-U3zqOy:hover {
  opacity: 0;
}

.widerrufsrecht-3 .ber-uns-U3zqOy {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 10px;
  pointer-events: auto;
  position: absolute;
  right: calc(47.90% - 21px);
  text-align: left;
  top: 1px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 43px;
}

.widerrufsrecht-3 .ber-uns-U3zqOy:hover {
  opacity: 0;
}

.widerrufsrecht-3 .kontakt-U3zqOy {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 10px;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 1px;
  transition: all 1s ease;
  white-space: nowrap;
  width: 39px;
}

.widerrufsrecht-3 .kontakt-U3zqOy:hover {
  opacity: 0;
}
@media screen and (max-width: 766px) {
  .screen.widerrufsrecht { 
    display: none;
   }
  .screen.widerrufsrecht-1 { 
    display: none;
   }
  .screen.widerrufsrecht-2 { 
    display: none;
   }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .screen.widerrufsrecht { 
    display: none;
   }
  .screen.widerrufsrecht-1 { 
    display: none;
   }
  .screen.widerrufsrecht-3 { 
    display: none;
   }
}
@media screen and (min-width: 1200px) and (max-width: 1899px) {
  .screen.widerrufsrecht { 
    display: none;
   }
  .screen.widerrufsrecht-2 { 
    display: none;
   }
  .screen.widerrufsrecht-3 { 
    display: none;
   }
}
@media screen and (min-width: 1900px) {
  .screen.widerrufsrecht-1 { 
    display: none;
   }
  .screen.widerrufsrecht-2 { 
    display: none;
   }
  .screen.widerrufsrecht-3 { 
    display: none;
   }
}